.slides  li {
    width: 248px !important;
}
.a2{ 
	text-align: left;
    width: 25%;
    margin-left:6%;
}

	
}

@media only screen and (min-width: 1120px) and (max-width : 1135px) {
#video_btn{
	left:760px;
}
}

@media screen and (min-width: 1040px) and (max-width : 1200px) {
	.span12 {
	padding-left: 0px; 
	padding-right: 0px;
	width: 100%;
	margin: 0 auto;
}
.wrapper .row{
	padding:0px;
}

}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
#video_btn{
	left:715px;
}
.span12{
	width:100%;
	padding:0px;
}
.owl-prev{
	left:8px !important;
}
.owl-next{
	right:8px !important;
}
.wrapper .row{
	padding:0px;
}
}

@media only screen and (max-width:1119px) {
#video_btn{
	left:758px;

}

@media only screen and (max-width:1107px) {
#video_btn{
	left:748px;

}

@media only screen and (max-width:1095px) {
#video_btn{
	left:744px;

}

@media only screen and (max-width:1085px) {
#video_btn{
	left:740px;

}

@media only screen and (max-width:1074px) {
#video_btn{
	left:736px;

}

@media only screen and (max-width:1062px) {
#video_btn{
	left:732px;

}

@media only screen and (max-width:1052px) {
#video_btn{
	left:726px;

}

@media only screen and (max-width:1036px) {
#video_btn{
	left:712px;

}

@media screen and (max-width: 980px) {
	
	
#gettheapp{
	left:50px;
}
#slide0{
	background-position:-96px;
}
#video_btn{
	left:680px;
}
#header .social-btn{
	margin-right:40px;
}

.slider {
    padding: 0 !important;
    width: 100% !important;
}
.flex-direction-nav a{
	 margin: -20px 20px !important;
}
#bottom_afiliates{
	width:100%;
}
#footer{
	width:100%;
}
.wrapper .row{
	padding:0px;
}

#footer {
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
}
#hotspot_page{
	width:96%;
	height:550px;
}

.pro1 {
    float: left;
    width: 56%;
}
#media_info{
	width:35%;
	height:485px;
}

.main_box_new {
    margin: 2%;
    width: 96%;
}
.span12{
	width:100%;
	 padding-left:0px;
    padding-right:0px;
}
	
}

@media only screen and (max-width:1000px) {

}

@media screen and (max-width: 860px) {

}
@media screen and (max-width: 812px) {
#gettheapp{
	left:0px;
}
#slide0 {
    background-position: -230px center;
}

#video_btn {
    left: 550px;
}
.flex-direction-nav a{
	margin:-20px 10px !important;
}
#toPopup{
	left:65%;
}
.model{
	width:247px;
}


.pro1 {
    width: 50%;
}


#media_info {
    height: 340px;
    width: 42%;
}
#hotspot_page{
	height:400px;
}

.main_but{
	width:100%;
}
.tol_im{
	top:120px;
}


.tol_im2 {
    left: 32%;
    position: absolute;
    top: 320px;
}
.span12{
	width:100%;
	padding:0px;
}

.owl-prev {
    left: 10px !important;
    position: absolute;
    top: -65px;
	margin-top:-25%;
}
.owl-next {
    right: 10px !important;
    position: absolute;
    top: -65px;

}
.contact_new{
	padding:0px;
}

.login-colum.max_width{
	 padding: 13px 0 0;
}


.elem {
    margin-left: 2%;
}
#toPopup{
	margin-left:-510px;
	width:90%
}
.look_for{
	margin-top:-235px;
}

.like_ima {
    background-size: 75% auto;
	width:76%;
}

.shop_ima {
    background-size: 75% auto;
    /*margin-left: 0;*/
    width: 100%;
}





}
@media only screen and (max-width:768px) {
	
.slider{
	width:100%;
	padding:0px 20px;
}
#fl1{
	display:none;
}
.main_box_new{
	display:block !important;
}
.model {
    width: 242px;
}
.tol_im{
	left:160px;
}
#toPopup{
	left:15px;
	margin-left:0px;
}
.Shop {
    padding-right: 147px;
}
.tx {
    padding-right: 81px;
}
}
@media only screen and (max-width : 767px) {
.a1{
	width:100% !important;
}
.a2{ 
	text-align: center;
    width:auto;
    margin-left:0px;
}

.new_box {
    width: 100%;
	overflow:hidden;
}


.new_box2 {
    margin-bottom: 10%;
    margin-top: 10%;
    width: 100%;
}
.gettheapp_button{
	 margin: 12px 2px 0;
}
.look_for{
	margin-left:15%;
	margin-top:-135px;
}
.like_ima{
	width:255px;
	height:370px;
       margin-left: 25%;
}
.shop_ima{
	width:338px;
	height:485px;
	margin-left: 25%;
}


	
}

@media only screen and (max-width:660px) {
	
.row_wrap{
	min-width:100%;
}
#header .social-btn{
	display:none;
}
#gettheapp_slogan{
	font-size:16px;
}

#gettheapp_call2action {
    background: none repeat scroll 0 0 #068b95;
    border-radius: 10px;
    color: #fff;
    font-size: 34px;
    font-weight: normal;
    left:72px;
    line-height: 60px;
    width: 65%;
}
#gettheapp{
	background:none;
	top: 14px;
    width: 350px;
}
#gettheapp_button_mac{
	background-size:95%;
}
.gettheapp_button{
	width:140px;
}
#gettheapp_button_android{
	background-size:95% !important;
}

#slide0 {
    background-position: -630px 190px  !important;
}

#home_slider_wrap{
	height:565px;
	background-size:cover;
}
#home_slider .slide{
	height:565px;
}


.foot_p {
    float: left;
    font-size: 12px;
    line-height: 1.5em;
    text-align: center;
    width: 100%;
}


#footer .menu ul li {
    float: left;
    margin-left: 12%;
	margin-right:0px;
}
#footer{
	line-height:45px;
}
#video_btn {
    left: 150px;
	top:380px;
}

#footer .menu {
    float: left;
    width: 100%;
}


.model{
	 padding: 0 50px;
	 width:265px;
	 margin-left:140px;
	 background:none !important;
}

#models_popup{
	display:none !important;
}
#fancybox-overlay{
	display:none !important;
}
#fancybox-wrap{
	display:none !important;
}


#fl1{
	display:block;
}
#toPopup{
	left:118%;
	width:82%
}


.pro1 {
    float: none;
  /*  margin: 0 auto;*/
    width:90%;
	padding: 0 10px 0 10px;
}
.row{
	width:100%;
}


#media_info {
    float: none;
    height:260px;
    margin: 20px auto 0;
    width: 90%;
}

#hotspot_page{
	width:100%;
	height:auto;
}


.tol_im {
    left: 150px;
    top:-230px;
}


.tol_im2 {
    left: 60%;
    position: absolute;
    top: -61px;
}
.ima{
	  margin: 10px auto 0;
}

.box_heading{
	text-align:center;
}


.box_para {
    margin: 10px;
    text-align: center;
}

.item.darkCyan {
    margin: 0 auto;
    width: 80%;
}
.owl-prev {
    left: 10px;
    position: absolute;
    top: -108px;
}

.owl-next{
    right: 10px;
    position: absolute;
    top: -108px;
}
.shop_ima{
	margin-left:25%;
}
/*.shop_ima:hover{
	margin-left:30%;
}*/
/*
#710{
	left: 190px !important;
    top: 170.576px !important;
	
}

#711{
    left: 214.569px !important;
    top: 32.571px !important;
}
*/

.login-colum.max_width .elem textarea{
	min-width:84%;
	width:85%;
}


}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
}




@media only screen and (max-width: 640px) {
	
.slides  li {
    width: 640px !important;
}

.logo{
width: 85%;
float: left;
text-align: center;
}
#gettheapp{
	top: 14px;
	width: 540px;
	left:70px;
}

#slide0 {
background-position: -505px 190px !important;
}


#video_btn {
    left: 275px;
}

	
.new_b{
	margin-right:10% !important;
}

#footer .menu {
    margin-left:22%;
    width: 60%;
}
#toPopup{
	left:5%;
	z-index:999;
}
.tx {
    /*padding-right: 86px;*/
	margin-left: 13%;
}
.Shop {
   /* padding-right: 30px;*/
	margin-left:13%;
}

.like_ima{
	background-size:75%;
	height:380px;
	margin-left:35%;
}

.shop_ima{
	background-size:75%;
	height:380px;
	margin-left:35%;

}

@media only screen and (max-width : 480px){
	

#gettheapp {
top: 14px;
width: 100%;
left: 0px;
}

.logo{
	width:80%;
}

#slide0 {
background-position: -585px 190px !important;
}

#video_btn {
left: 195px;
}

.model {
padding: 0px;
width: 300px;
margin-left: 90px;
}

.slides  li {
	width:480px !important;
}

#footer .menu{
	width:100%;
	margin-left:0px;
}
.look_for{
	margin-left:0px;
		margin-top:-135px;
}


.tx{
	padding-right:82px;
	font-size:39px;
	margin-left: 25% !important;
}
.Shop {
    padding-right:20px;
}








}
@media  screen and (max-width:360px) {

/*.model {
    padding: 0 30px;
    width: 255px;
	background:none !important;
	margin-left:25px;
}*/

.model {
    padding: 0 60px 0px 0px;
    width: 300px;
	margin-left: 35px;
}

.model_link{
	position:static;
}

.slides  li {
    width: 360px !important;
}

#gettheapp{
	width:350px;
	top:14px;
	left:0px;
}

#slide0 {
background-position: -640px 190px !important;
}

#video_btn {
left: 140px;
}

#header .logo img{
	margin-left:65px;
}
.item_btn_buy a{
	display: block;
	width: 142px;
	height: 29px;
	background: transparent url(../images/201401/btn-hotspot-buy-background-resp.png) left top no-repeat;
}

.tp_box {width: 17em;}

#toPopup {
    left: 2%;
}
.like_ima{
	background-size:75%;
	height:380px;
	margin-left:25%;
}
/*.like_ima:hover{
	background-size:75%;
	height:380px;
}*/

.shop_ima{
	background-size:75%;
	height:380px;
	margin-left:25%;
}
/*.shop_ima:hover{
	background-size:75%;
	height:380px;
	margin-left:15%;
}*/
.Shop {
    padding-right: 97px;
}
	
}

@media only screen and (max-width : 320px) and (orientation : portrait) {

#gettheapp{
	width:310px;
}
#slide0 {
    background-position: -650px 190px  !important;
}
#header .logo img{
	margin-left:85px;
}
#video_btn {
    left: 130px;
    top: 380px;
}
#footer .menu ul li {
    margin-left: 10%;
}

#toPopup {
    left: 1%;
    width: 82%;
	top:15%;
}
#gettheapp_call2action {
	left:52px;
}
.model {
    padding: 0 25px;
    width: 270px;
	background:none !important;
	margin-left:0px;
}


#who_when{
	width:190px;
}
#title{
	font-size:18px;
}
.tol_im{
	left:135px;
	top:-210px;
}

.tp_box{
	/*left: -130px;*/
    padding: 5px;
    top: -130px;
	width: 17em;
}
.item_btn_buy{
	background-image:none !important;
}

.item_btn_buy a{
	display: block;
	width: 142px;
	height: 29px;
	background: transparent url(../images/201401/btn-hotspot-buy-background-resp.png) left top no-repeat;
}

.item_pag {z-index:0;}
/*.item_btn_buy:before {
    background: none repeat scroll 0 0 hsl(184, 92%, 30%);
    color: hsl(0, 0%, 100%);
    content: "BUY";
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 160px;
}*/
.slides  li {
    width: 320px !important;
}

.login-colum.max_width .elem textarea{
	width:93%;
}
.page-title{
	padding-left:40px;
	padding-right:40px;
	padding-bottom:20px;
}
.page-title{
	width:73%;
}

.tx{
	padding-right:82px;
	font-size:39px;
}
.Shop {
    padding-right: 83px;
}
}

@media only screen and (max-width:568px){
	
.slides  li {
    width: 640px !important;
}	
.model {
	margin-left:115px;
}
}