

/*   HTML5 display definitions http://css-tricks.com/examples/CustomVideoControlsFullscreen/assets/css/style.css http://css-tricks.com/examples/CustomVideoControlsFullscreen/ */

/* Correct `block` display not defined in IE 8/9. */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Correct `inline-block` display not defined in IE 8/9. */

audio,
canvas,
video {
  display: inline-block;
}


/* Prevent modern browsers from displaying `audio` without controls. */

audio:not([controls]) {
  display: none;
  height: 0;
}


/* Address `[hidden]` styling not present in IE 8/9. */

[hidden],
template {
  display: none;
}



/* PLAYER part */

/* div#video_player_box{ width:640px; background:#000; margin:0px auto;} */



.video_player_box {
  position: relative;
  /* height: 360px; */
  width: 640px;
  margin: 0px auto;
  background-color: black;
}

.video_player_box::full-screen {
  width: 100%;
  height: 100%;
}

::-moz-full-screen .video_player_box {
  width: 100%;
  height: 100%;
}

.video_player_box::-moz-full-screen {
  width: 100%;
  height: 100%;
}

.video_player_box::-webkit-full-screen {
  width: 100%;
  height: 100%;
}

/*hides controls only in fullscreen, but shows them in normal screen even if controls is set to false*/
video::-webkit-media-controls-enclosure {
  display: none !important;
}


.video_controls_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: .8em;
  width: 100%;
  min-height: 34px;
  padding: 0px;
  background:url(../img/bg.png);
  z-index: 2147483647;
  
  align: center;
}

.playpausebtn{    
	background:url(../img/play.png);   
    width:24px;
	height:24px; 
    border:1px;
	cursor:pointer;
	opacity:0.5;
    outline:none;
}
.playpausebtn:hover{ opacity:1; outline:none; }


.playnextframe{
	background:url(../img/ff.png);
	width:24px;
	height:24px;    
    border:1px;
	cursor:pointer;
	opacity:0.5;
    outline:none;
}
.playnextframe:hover{ opacity:1; outline:none; }

.playprevframe{
	background:url(../img/fb.png);
	width:24px;
	height:24px;    
    border:1px;
	cursor:pointer;
	opacity:0.5;
    outline:none;
}
.playprevframe:hover{ opacity:1; outline:none; }


.playslow{
    background:url(../img/1x2.png);
    border:1px;
	width:28px;
	height:24px;
	cursor:pointer;
	opacity:0.5;
    outline:none;
}
.playslow:hover{ opacity:1; outline:none; }

.bracketology{
    background:url(../img/brk.png);
    border:1px;
	width:24px;
	height:24px;
	cursor:pointer;
	opacity:0.5;
    outline:none;
}
.bracketology:hover{ opacity:1; outline:none; }


.videogame{
    background:url(../img/videogame.png);
    border:1px;
	width:24px;
	height:24px;
	cursor:pointer;
	opacity:0.5;
    outline:none;
}
.videogame:hover{ opacity:1; outline:none; }


#controls_table { height: 32px; }
#controls_table td { height: 32px; }
#controls_table td input, #controls_table td button { margin-top: 3px; }



.fullscreenbtn{
	background:url(../img/full.png);
	/* border:none; */
    border:1px;
	width:28px;
	height:24px;
	cursor:pointer;
	opacity:0.5;
    outline:none;
}
.fullscreenbtn:hover{ opacity:1; outline:none; }

.volumebtn{
	background:url(../img/vol.png);
	/* border:none; */
    border:1px;
	width:28px;
	height:24px;
	cursor:pointer;
	opacity:0.5;
    outline:none;
    
}
.volumebtn:hover{ opacity:1; outline:none; }


.seekslider{ width: 99.99%; /*height: 10px;  */outline:none; /*background: #ccc;*/ }

.volumeslider{ width: 60px; /*height: 10px; */outline:none; /*background: #ccc !important;*/ }
/*
input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 7px;
    margin:0;
    padding:0;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;  
    border-radius: 100%;
    height: 15px;
    width: 15px; 
    background:url(../img/scrub.png);
}

input[type=range]::-moz-range-track {
    height: 5px;
    background: none;
    border: none;
    border-radius: 3px;
}
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

input[type=range]::ms-tooltip { display: none; }
input[type=range]::-ms-fill-lower{ background: transparent; } 
input[type=range]::-ms-track {
    background: transparent; 
    border-color: transparent; 
    border-width: 6px 0;
}
input[type=range]::-ms-thumb {
    background-color: #E9E9E9; 
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background:url(../img/scrub.png);
}
input[type=range]::-ms-fill-lower {
    background: #a3a3a3;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #000;
    border-radius: 10px;
}
*/
.td_left_angle {
	display: none;
}

/*CANVAS*/

/* #container2 { position: relative; }*/
#container2 {
position:absolute;
float:left;
    width:640px;
    min-height:320px;
    /* background-color:#000; */
    z-index:300000;
}
#canvas2 { border: 1px solid #000; }


/* Marker tooltip */

  .bubble {
    /* position: relative; */
    position: absolute;
    min-width: 142px;
    max-width: 450px;
    min-height: 20px;
    max-height: 75px;
    /*height: 41px;*/
    top: -53px;
    padding: 5px;
    background: #3399FF;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.31);
    -moz-box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.31);
    box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.31);
}

  .bubble:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 57px;
    border-style: solid;
    border-width: 10px 14px 0;
    border-color: #3399FF transparent;
    display: block;
    width: 0;
    z-index: 1;
}






input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
	-moz-apperance: none;
    /*fix for FF unable to apply focus style bug */
    /*border: 1px solid white;*/
	
	border-radius: 6px;
    
    /*required for proper track sizing in FF*/
    /*width: 300px;*/

	padding:0; margin: 0;
	
}
input[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*/
    height: 7px;
    background: none;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: url(../img/scrub.png);
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 7px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: url(../img/scrub.png);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    height: 7px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
	margin-top:0px;

}
input[type=range]::-ms-fill-lower {
    background: transparent;
    border-radius: 6px;
}
input[type=range]::-ms-fill-upper {
    background: transparent;
    border-radius: 6px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: url(../img/scrub.png);
	margin-top:-5px;
}/*
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}*/