a:hover {text-decoration: none;}
.tagcash-tip {
    text-align: center;
    display: block;

}


.popover  {
    background: #eaeaea!important;
    max-width:600px;
    padding: 4px 0;
}

.popover.top .arrow,
.popover.right .arrow,
.popover.bottom .arrow,
.popover.left .arrow {
    display: none;
}

.popover-title {
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 8px 14px;
}