$experimental: true !default; // set True for support Old Browsers
$baseFont: 'Roboto', Arial, sans-serif;
$monster: 'Montserrat', Arial, sans-serif;




// custom mixins
@mixin full-width() {
  width: 100%;
  float: left;
  position: relative;
}


@mixin background-size($value) {
  -webkit-background-size: $value;
  background-size: $value;
}

@mixin box-sizing($type:border-box) {
  @if $experimental {
    -moz-box-sizing: $type;
    -webkit-box-sizing: $type;
  }
  box-sizing: $type;
}

@mixin radius($radius:$global-radius) {
  @if $radius {
    @if $experimental {
      -webkit-border-radius: $radius;
    }
    border-radius: $radius;
  }
}

@mixin shadow($value) {
    @if $experimental {
      -webkit-box-shadow: $value;
      -moz-box-shadow: $value;
    }
    box-shadow: $value;
}

@mixin smooth($speed) {
  @if $experimental {
    -webkit-transition: all $speed ease-in-out;
    -moz-transition: all $speed ease-in-out;
    -o-transition: all $speed ease-in-out;
  }
  transition: all $speed ease-in-out;
}

@mixin bg-clip($value) {
  -webkit-background-clip: $value;
  -moz-background-clip: $value;
  background-clip: $value;
}


@mixin backface-hidden() {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
