@import "chunks/custom_settings";

.main-wrapper {

  // medium sizes
  @media screen and (max-width: 980px) {

    // header
    .main-header {
      padding-bottom: 45px;
      .nav-toggle {
        display: block;
      }
      .top-nav-wrap {
        display: none;
        &.active {
          display: block;
          position: absolute;
          z-index: 10000;
          top: 80px;
          left: 0;
          width: 100%;
          background: #f5f5f5;
          border-bottom: 1px solid #B2B2B2;
          padding-bottom: 20px;
          .main-nav {
            @include full-width;
            margin: 0 0 18px 0;
            li {
              @include full-width;
              padding: 0;
              &:nth-child(even) {
                background: #eae6e6;
              }
              &:after {
                display: none;
              }
              a {
                padding: 12px 20px;
                font: 700 17px/1 $baseFont;
                float: left;
                border: 0 !important;
                &:hover {

                }
              }
            }
          }
          .social-top-nav {
            margin: 0 auto;
            display: block;
            width: 192px;
            float: none;
          }
        }
      }
    }

    // content
    .content-wrapper {
      .slider-container {
        .slider-wrap {
          .slide {
            .content {
              &.first-slide {
                margin-left: 418px;
                h1 {
                  font-size: 64px;
                }
                h4 {
                  font-size: 34px;
                }
              }
              h1 {
                font-size: 48px;
              }
              .text {
                font-size: 20px;
              }
              .social-btn-group {
                width: 315px;
              }
              .platform-btn-group {
                a {
                  width: 150px;
                  height: 45px;
                  @include background-size(cover !important);
                }
              }
              .how-it-works-box {
                width: 315px !important;
              }
              .available-box, .download-app-box {
                margin-left: 20px;
                h6 {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  // small devices
  @media screen and (max-width: 840px) {

    // header
    .main-header {
      min-height: 0;
      height: 90px;
      padding: 12px 0;
      .logo {
        width: 150px;
        margin-top: 10px;
      }
      .nav-toggle {
        margin-top: 10px;
      }
      .top-nav-wrap {
        &.active {
          top: 77px;
        }
      }
    }

    // content
    .content-wrapper {
      height: auto !important;
      .slider-container {
        height: auto !important;
        .hand {
          display: none;
        }
        .slider-wrap {
          padding-top: 20px;
          .slide {
            height: auto !important;
            display: inline-block;
            .screen-box {
              width: 280px;
              height: 588px;
              float: none;
              clear: both;
              position: relative;
              padding: 77px 20px;
              margin: 0 auto;
              @include background-size(auto 100%);
              &:after {
                content: "";
                display: block;
                width: 280px;
                height: 588px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
                background: url(../img/phone.png) no-repeat top center;
                @include background-size(cover);

              }

            }
            .content {
              @include full-width;
              margin: 0 !important;
              padding: 40px 0 30px;
              text-align: center;
              h4 {
                margin-bottom: 0 !important;
              }
              .text {
                padding-right: 0;
              }
              .social-btn-group, .available-box, .download-app-box {
                @include full-width;
                margin-left: 0;
                margin-right: 0;
              }
              .how-it-works-box {
                display: none;
              }
              .social-btn-group {
                a {
                  width: 54px !important;
                  height: 54px !important;
                  margin: 0 3px;
                }
              }
              .platform-btn-group {
                text-align: center;
                a {
                  float: none;
                  display: inline-block;
                  clear: both;
                  width: 182px;
                  height: 55px;
                  margin-right: 0;
                  margin-bottom: 8px;
                }
              }
            }
          }
        }

      }
    }

    // footer
    .main-footer {
      margin-bottom: 48px;
      .logos-slider {
        margin: 0;
        width: 100%;
        max-width: 100%;

        li {
          width: 100%;
          marquee {
            width: 100%;
          }
        }
      }
    }

    // controls
    #slider-next, #slider-prev {
      display: none;
    }
    .custom-pager {
      position: fixed;
      width: 100%;
      top: auto;
      bottom: 0;
      left: 0;
      height: 48px;
      padding: 10px 0;
      background: #B8B8B8;
      display: block;
      .inner {
        @include full-width;
        text-align: center;
        a {
          width: 16px;
          height: 16px;
          @include shadow(0 0 1px 0 #7E7E7E);
          margin: 8px 4px;
        }
      }
    }
  }

}