@import "chunks/custom_settings";

.container {
  max-width: 980px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  &:before, &:after {
    display: table;
    content: "";
    clear: both;
  }
}

.main-wrapper {
  // header

  .main-header {
    @include full-width;
    background: #f5f5f5;
    min-height: 126px;
    padding: 23px 0 20px;
    .logo {
      float: left;
      img {
        float: left;
        max-width: 100%;
      }
    }
    .main-nav {
      float: left;
      margin-left: 60px;
      margin-top: 32px;
      li {
        float: left;
        padding: 0 24px;
        position: relative;
        &:last-child {
          &:after {
            display: none;
          }
        }
        &:after {
          content: "";
          height: 16px;
          width: 2px;
          background: #afafaf;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }
        a {
          font: 900 15px/1 $baseFont;
          color: #afafaf;
          @include smooth(0.2s);
          &:hover {
            border-bottom: 2px solid #afafaf;
          }
        }
      }
    }
    .social-top-nav {
      float: left;
      margin-left: 53px;
      margin-top: 10px;
      a {
        display: block;
        float: left;
        margin-left: 18px;
        width: 46px;
        height: 46px;
        display: block;
        background: #cecece;
        text-align: center;
        @include radius(50px);
        @include smooth(0.2s);
        &:hover {
          background: #adacac;
        }
        &:first-child {
          margin-left: 0;
        }
        i {
          font-size: 24px;
          line-height: 46px;
          color: #f5f5f5;
        }
      }
    }

    .nav-toggle {
      float: right;
      display: none;
      width: 52px;
      height: 44px;
      margin-top: 15px;
      padding: 9px 10px;
      background: #cecece;
      @include smooth(0.2s);
      &:hover {
        background: #adabab;
      }
      span {
        float: left;
        width: 100%;
        height: 5px;
        background: #fff;
        margin-bottom: 5px;
      }
    }
  }

  // content-wrapper
  .content-wrapper {
    @include full-width;
    height: 672px;
    background: #79babe url(../img/blue-bg.png) no-repeat top center;
    @include background-size(cover);
    .slider-container {
      height: 672px;
      .hand {
        width: 721px;
        height: 803px;
        position: absolute;
        z-index: 9999;
        bottom: -111px;
        left: -306px;
      }
      .slider-wrap {
        @include full-width;
        padding-top: 87px;
        .slide {
          @include full-width;
          height: 524px;
          .screen-box {
            float: left;
            margin-left: 24px;
            img {
              float: left;
              max-width: 100%;
            }
          }
          .content {
            color: #fff;
            margin-left: 384px;
            &.first-slide {
              margin-left: 482px;
              padding-top: 20px;
              h1 {
                font: 400 90px/1 $baseFont;
                color: #fff;
                @include full-width;
                margin-bottom: 0;
              }
              h4 {
                font: 300 40px/1.3 $baseFont;
                color: #fff;
                letter-spacing: 1px;
                margin-bottom: 24px;
                @include full-width;

              }
              .platform-btn-group {
                margin-top: 52px;
              }
              .how-it-works-box {
                width: 382px;
                float: left;
                text-align: center;
                margin-top: 40px;
                cursor: pointer;
                strong {
                  @include full-width;
                  text-align: center;
                  font: 300 28px/1 $baseFont;
                  color: #fff;
                  margin-bottom: 20px;
                  letter-spacing: 1px;
                }
              }
            }
            h1 {
              font: 400 54px/1 $monster;
              color: #fff;
              @include full-width;
              margin-bottom: 25px;
            }
            .text {
              font: 300 24px/1.2 $baseFont;
              color: #fff;
              @include full-width;
              margin-bottom: 10px;
              padding-right: 30px;
            }

            .platform-btn-group {
              @include full-width;
              margin-top: 24px;
              a {
                float: left;
                width: 182px;
                height: 55px;
                margin-right: 20px;
                background: #000;
                @include radius(3px);
                &:last-child {
                  margin-right: 0;
                }
                &.app-store {
                  background: url(../img/app-store-btn.png) no-repeat top center;
                }
                &.google-play {
                  background: url(../img/google-play-btn.png) no-repeat top center;
                }
              }
            }
            .social-btn-group {
              width: 382px;
              margin-top: 24px;
              text-align: center;
              a {
                display: inline-block;
                width: 58px;
                height: 58px;
                margin: 0 7px;
                background-position: top center;
                background-repeat: no-repeat;
                @include background-size(auto 100%);
                &.instagram {
                  width: 60px;
                  height: 59px;
                  background-image: url(../img/social/instagram.png);
                }
                &.facebook {
                  width: 57px;
                  background-image: url(../img/social/facebook.png);
                }
                &.twitter {
                  background-image: url(../img/social/twitter.png);
                }
                &.tumblr {
                  background-image: url(../img/social/tumblr.png);
                }
              }
            }
            .available-box, .download-app-box {
              float: left;
              margin: 36px 0 0 100px;
              text-align: center;
              h6 {
                font: 300 24px/1.2 $baseFont;
                color: #fff;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  // custom pager
  .custom-pager {
    position: absolute;
    right: 30px;
    top: 0;
    width: 20px;
    height: 100%;
    z-index: 9999;
    display: table;
    .inner {
      width: 100%;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
    }
    a {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: #f5f5f5;
      @include radius(50px);
      @include smooth(0.3s);
      margin: 8px 0;
      &.active {
        background: #008c96;
      }
    }
  }

  #slider-next, #slider-prev {
    width: 60px;
    height: 60px;
    border: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 9999;
    right: 0;
    text-align: center;
    font-size: 28px;
    line-height: 60px;
    color: #cecece;
    opacity: 0.3;
    @include smooth(0.3s);
    &:hover {
      opacity: 0.6;
    }
  }
  #slider-prev {
    top: 0;
  }
  #slider-next {
    bottom: 0;
  }

  // footer
  .main-footer {
    @include full-width;
    height: 112px;
    padding-top: 26px;
    background: #f5f5f5;
    .container {
      max-width: 1200px;
    }
    .logos-slider {
      float: right;
      max-width: 60%;
      overflow: hidden;
      margin-top: 16px;
      li {
        float: left;
        margin-left: 16px;
        marquee {
          width: 670px;
        }
        img {
          float: left;
          height: 40px;
          width: 5135px;
          max-width: none !important;
        }
      }
    }
  }
}

