.user_avatar {
    background: url("http://test.tagcash.tv/public/templates/public/default/images/201401/hotspot_avatar_back.png") no-repeat scroll 1px 1px transparent;
    border-radius: 5px;
    float: left;
    height: 80px;
    max-height: 80px;
    max-width: 80px;
    width: 80px;
}

.topbg {
    height: 58px;
    border: 0;
    background: url("http://test.tagcash.tv/public/templates/public/default/images/201401/hotspot_header_back.jpg") no-repeat scroll 0px 0px transparent;
}

.intro {
    margin: 0;
}

.intro img {
    height: 58px;
    width: 165px;
}

.example {
    background-color: #f5f5f5;
    color: #4d5255;
}
.white {
    background-color: #ffffff;
}

.bottom-0 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.top-0 {
    margin-top: 0;
    padding-top: 0;
}

.left {
    text-align: left;
}

#gettheapp_button_mac {
    background: url("http://test.tagcash.tv/public/templates/public/default/images/201401/gettheapp_button_mac_back.png") no-repeat scroll left top transparent;
}
#gettheapp_button_android {
    background: url("http://test.tagcash.tv/public/templates/public/default/images/201401/gettheapp_button_android_back.png") no-repeat scroll left top transparent;
}
.gettheapp_button {
    display: inline-block;
    height: 55px;
    width: 182px;
    cursor: pointer;
}
#who {
    color: #068b95;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    padding-top: 4px;
}

#when {
    color: #c7c7c7;
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    padding-bottom: 5px;
}
hr {
    width: 100%;
}
#message {
    color: #595959;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
}

#like_comm_tags {
    color: #969696;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#share-options {
    text-align: center;
}

li {
    padding: 0px;
    margin: 0px;
}

.inner-content img {
    max-width: 570px;
}
.container {
    min-width: 260px;
}