.slides  li {
    width: 248px !important;
}

@media screen and (max-width: 1055px) {


}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {

}

@media only screen and (max-width:1024px) {

}

@media screen and (max-width: 980px) {
	
	
#gettheapp{
	left:50px;
}
#slide0{
	background-position:-96px;
}
#video_btn{
	left:680px;
}
#header .social-btn{
	margin-right:40px;
}

.slider {
    padding: 0 !important;
    width: 100% !important;
}
.flex-direction-nav a{
	 margin: -20px 20px !important;
}
#bottom_afiliates{
	width:100%;
}
#footer{
	width:100%;
}
.wrapper .row{
	padding:0px;
}

#footer {
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
}
#hotspot_page{
	width:100%;
	height:550px;
}

.pro1 {
    float: left;
    width: 56%;
}
#media_info{
	width:35%;
	height:485px;
}

.main_box_new {
    margin: 2%;
    width: 96%;
}
	
}

@media only screen and (max-width:1000px) {

}

@media screen and (max-width: 860px) {

}
@media screen and (max-width: 812px) {
#gettheapp{
	left:0px;
}
#slide0 {
    background-position: -230px center;
}

#video_btn {
    left: 550px;
}
.flex-direction-nav a{
	margin:-20px 10px !important;
}
#toPopup{
	left:65%;
}
.model{
	width:247px;
}


.pro1 {
    width: 50%;
}


#media_info {
    height: 340px;
    width: 42%;
}
#hotspot_page{
	height:400px;
}

.main_but{
	width:100%;
}
.tol_im{
	top:120px;
}


.tol_im2 {
    left: 32%;
    position: absolute;
    top: 320px;
}
.span12{
	width:100%;
	padding:0px;
}

.owl-prev {
    left: 10px !important;
    position: absolute;
    top: -28px;
}
.owl-next {
    right: 10px !important;
    position: absolute;
    top: -28px;
}




}
@media only screen and (max-width:768px) {
	
.slider{
	width:100%;
	padding:0px 20px;
}
#fl1{
	display:none;
}
.main_box_new{
	display:block !important;
}
.model {
    width: 242px;
}
.tol_im{
	left:160px;
}

}

@media only screen and (max-width:680px) {
	
.row_wrap{
	min-width:100%;
}
#header .social-btn{
	display:none;
}
#gettheapp_slogan{
	font-size:16px;
}

#gettheapp_call2action {
    background: none repeat scroll 0 0 #068b95;
    border-radius: 10px;
    color: #fff;
    font-size: 34px;
    font-weight: normal;
    left:72px;
    line-height: 60px;
    width: 65%;
}
#gettheapp{
	background:none;
	top: 14px;
    width: 350px;
}
#gettheapp_button_mac{
	background-size:95%;
}
.gettheapp_button{
	width:140px;
}
#gettheapp_button_android{
	background-size:95% !important;
}

#slide0 {
    background-position: -630px 190px  !important;
}

#home_slider_wrap{
	height:565px;
	background-size:cover;
}
#home_slider .slide{
	height:565px;
}


.foot_p {
    float: left;
    font-size: 12px;
    line-height: 1.5em;
    text-align: center;
    width: 100%;
}


#footer .menu ul li {
    float: left;
    margin-left: 12%;
	margin-right:0px;
}
#footer{
	line-height:45px;
}
#video_btn {
    left: 150px;
	top:380px;
}

#footer .menu {
    float: left;
    width: 100%;
}


.model{
	 padding: 0 50px;
	 width:265px;
	 margin-left:140px;
	 background:none !important;
}

#models_popup{
	display:none !important;
}
#fancybox-overlay{
	display:none !important;
}
#fancybox-wrap{
	display:none !important;
}


#fl1{
	display:block;
}
#toPopup{
	left:118%;
	width:82%
}


.pro1 {
    float: none;
    margin: 0 auto;
    width:90%;
}
.row{
	width:100%;
}


#media_info {
    float: none;
    height:260px;
    margin: 20px auto 0;
    width: 90%;
}

#hotspot_page{
	height:auto;
}


.tol_im {
    left: 150px;
    top:-230px;
}


.tol_im2 {
    left: 60%;
    position: absolute;
    top: -61px;
}
.ima{
	  margin: 10px auto 0;
}

.box_heading{
	text-align:center;
}


.box_para {
    margin: 10px;
    text-align: center;
}

.item.darkCyan {
    margin: 0 auto;
    width: 80%;
}
.owl-prev {
    left: 10px;
    position: absolute;
    top: -108px;
}

.owl-next{
    right: 10px;
    position: absolute;
    top: -108px;
}

}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
}




@media only screen and (max-width: 640px) {
	
.slides  li {
    width: 640px !important;
}

.logo{
width: 85%;
float: left;
text-align: center;
}
#gettheapp{
	top: 14px;
	width: 540px;
	left:70px;
}

#slide0 {
background-position: -505px 190px !important;
}

#video_btn{
	left:260px;
}
	
}

@media only screen and (max-width : 480px){
	
/*.model {
    padding: 0 60px 0px 0px;
    width: 300px;
	margin-left: 35px;
}*/

	

/*.slides  li:last-child .model{
	padding:0px;
}*/

#gettheapp {
top: 14px;
width: 100%;
left: 0px;
}

.logo{
	width:80%;
}

#slide0 {
background-position: -585px 190px !important;
}

#video_btn {
left: 195px;
}

.model {
padding: 0px;
width: 300px;
margin-left: 90px;
}

.slides  li {
	width:480px !important;
}








}
@media  screen and (max-width:360px) {

/*.model {
    padding: 0 30px;
    width: 255px;
	background:none !important;
	margin-left:25px;
}*/

.model {
    padding: 0 60px 0px 0px;
    width: 300px;
	margin-left: 35px;
}

.model_link{
	position:static;
}

.slides  li {
    width: 360px !important;
}

#gettheapp{
	width:350px;
	top:14px;
	left:0px;
}

#slide0 {
background-position: -640px 190px !important;
}

#video_btn {
left: 140px;
}

#header .logo img{
	margin-left:65px;
}




	
}

@media only screen and (max-width : 320px) and (orientation : portrait) {

#gettheapp{
	width:310px;
}
#slide0 {
    background-position: -650px 190px  !important;
}
#header .logo img{
	margin-left:85px;
}
#video_btn {
    left: 130px;
    top: 380px;
}
#footer .menu ul li {
    margin-left: 10%;
}

#toPopup {
    left: 132%;
    width: 82%;
	top:15%;
}
#gettheapp_call2action {
	left:52px;
}
.model {
    padding: 0 25px;
    width: 270px;
	background:none !important;
	margin-left:0px;
}


#who_when{
	width:190px;
}
#title{
	font-size:18px;
}
.tol_im{
	left:135px;
	top:-210px;
}

.tp_box{
	left: -130px;
    padding: 5px;
    top: -130px;
}
.item_btn_buy{
	background-image:none !important;
}

.item_btn_buy:before {
    background: none repeat scroll 0 0 hsl(184, 92%, 30%);
    color: hsl(0, 0%, 100%);
    content: "BUY";
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 160px;
}
.slides  li {
    width: 320px !important;
}


}

@media only screen and (max-width:568px){
	
.slides  li {
    width: 640px !important;
}	
.model {
	margin-left:115px;
}
}