/* CSS Document */
@CHARSET "UTF-8";

@font-face {
	font-family: "Museo100";
	src: url("../fonts/Museo100Regular.otf");
}
@font-face {
	font-family: "Museo300";
	src: url("../fonts/Museo300Regular.otf");
}
@font-face {
	font-family: "Museo500";
	src: url("../fonts/Museo500Regular.otf");
}
@font-face {
	font-family: "Museo700";
	src: url("../fonts/Museo700Regular.otf");
}
@font-face {
	font-family: "Museo900";
	src: url("../fonts/Museo900Regular.otf");
}

@font-face {
	font-family: "HelveticaNeueLTComLT";
	src: url("../fonts/HelveticaNeueLTCom-Lt.ttf");
}
@font-face {
	font-family: "HelveticaNeueLTComLTCn";
	src: url("../fonts/HelveticaNeueLTCom-LtCn.ttf");
}
@font-face {
	font-family: "HelveticaNeueLTComMdCn";
	src: url("../fonts/HelveticaNeueLTCom-MdCn.ttf");
}

@font-face {
	font-family: "HelveticaNeueLTComRoman";
	src: url("../fonts/HelveticaNeueLTCom-Roman.ttf");
}
@font-face {
	font-family: "HelveticaNeueLTComTh";
	src: url("../fonts/HelveticaNeueLTCom-Th.ttf");
}
@font-face {
	font-family: "HelveticaNeueLTCom35Thin";
	src: url("../fonts/HelveticaNeueLTCom-Th.ttf");
	font-style: "35 Thin";
}
@font-face {
	font-family: "HelveticaNeueLTCom45Light";
	src: url("../fonts/HelveticaNeueLTCom.html");
	font-style: "45 Light";
}
@font-face {
	font-family: "HelveticaNeueLTCom47Light";
	src: url("../fonts/HelveticaNeueLTCom-47LightCondensed.otf");
	font-style: "47 Light";
}

@font-face {
	font-family: "HelveticaNeueLTCom67Medium";
	src: url("../fonts/HelveticaNeueLTCom-67MediumCondensed.otf");
	font-style: "67 Medium";
}

@font-face {
	font-family: "GothamroundedBold";
	src: url('../fonts/gothamroundedbold.eot'); /* IE9 Compat Modes */
	src: url('../fonts/gothamroundedboldd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/GothamroundedBold.otf')  format('opentype'),
		url('../fonts/gothamroundedbold.ttf')  format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
    font-style: normal;
}


*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	list-style: none;
	border: 0;
}

img{
	margin-bottom: -3px;
}

input, textarea{
	outline: none;	
	font-family: Roboto, Verdana, Geneva, sans-serif;
}

div{
	position: relative;	
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.clr, .clear {
	clear: both;
}

a{
	color: #000;	
	-moz-transition: color .2s linear;
	-webkit-transition: color .2s linear;
	-o-transition: color .2s linear;
}

.last{
	margin-right: 0px !important;	
}

.first{
	margin-left: 0px !important;	
}

.placeholder{
	/*color: #ccc !important;	*/
}

.border_img{
	border: 1px solid #ccc;
	padding: 5px;
	display: inline-block;	
}

.max_width{
	width: inherit !important;	
	float: auto !important;
	margin-right: 0px !important;
}

.frm_error{
	color: red;
	font-size: 11px;
	margin: 3px 0px;
	display: none;
}

.line-shadow{
	display: none;

	background: url(../images/line-shadow.png) top center no-repeat;
	height: 17px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.bg-message{
	background: url(../images/bg-message.jpg) bottom left repeat-x;
}

.border-green{
	background: #74b3b6;
	padding: 5px;
}

/*---------------------- HTML CONTENT -------------------*/

body{
	color: #4d5255;
	font-family: Roboto, Verdana, Geneva, sans-serif;
	font-weight: 300;
	_width: 1040px;
	_margin: 0 auto;
	background: #f5f5f5;
	_background-size: 6%;
}

.bg-page-header{
	/*background: url(../images/bg-header.png) top left repeat-x;*/
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #232323;
	_box-shadow: 0px 3px 2px #666;
	box-shadow: 0px 1px 8px #000;
	z-index: 55;
}

#wrapper{
	margin: 0;
	padding: 0;
	width: 100%;
	
}


/*---------------------------- HEADER ------------------------------*/

#header{
	_height: 50px;
	_width: 98%;
	_background: #232323;
	_padding-right: 20px;
	_z-index: 1;
	_margin: 0px 10px;
	_box-shadow: -8px 8px 5px -6px #333;
	z-index: 55;
}

#header .logo{
	margin-top: 5px;
	display: inline-block;
	float: left;
}

#header .invite-email{
	float: right;
	height: 50px;
	line-height: 50px;
}

#header .invite-email .label{
	color: #ffc000;
	font-size: 16px;
	float: left;
	margin-right: 20px;
	font-family: Arial;
	font-weight: bold;
}

#header .invite-email .txt-box{
	width: 190px;
	height: 28px;
	padding: 0px 5px;
	background: url(../images/bg-txt-box.png) top left no-repeat;
	color: #fff;
	font-size: 15px;
	font-family: arial;
	font-style: italic;
}

#header .invite-email .btn-submit{
	background: url(../images/btn-submit-email.png) top left no-repeat;
	display: inline-block;
	font-size: 15px;
	line-height: 27px;
	width: 67px;
	text-align: center;
	color: #fff;
	text-indent: -9999px;
}

#header .invite-email .btn-submit:target, #header .invite-email .btn-submit:hover{
	background: url(../images/btn-submit-email-target.png) top left no-repeat;
}

#header .invite-email .frame-alert{
	width: 299px;
	height: 111px;
	background: url(../images/frame-email.png) top left no-repeat;
	margin-left: 115px;
	font-family: arial;
	font-size: 19px;
	font-weight: bold;
	color: #000;
	text-align: center;
	line-height: 120px;
	display: none;
}

#header .invite-email .frame-alert #btn-close{
	background: url(../images/btn-close-email.png) top left no-repeat;
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 22px;
	right: 12px;
}

#header .main-menu{
	float: right;	
}

#header .main-menu ul li{
	float: left;
	line-height: 50px;
	margin-right: 5px;
}

#header .main-menu ul li a{
	display: block;
	font-size: 15px;
	font-family: HelveticaNeueLTCom47Light;	
	text-align: center;
	padding: 0px 20px;
	text-transform: uppercase;
	color: #a0a0a0;
}

#header .main-menu ul li:hover{
	background: #fff;
	line-height: 30px;
	background: #fff;
	margin: 10px 5px 10px 0px;
	height: 30px;
	border-radius: 5px;
}

#header .main-menu ul li:hover a{
	color: #000;
}

#header .main-menu ul li a.icon-home{
	background: url(../images/small-icon/icon-home.png) center left no-repeat;
	padding-left: 28px;
}

#header .main-menu ul li a.icon-clip{
	background: url(../images/small-icon/icon-clip.png) center left no-repeat;
	padding-left: 23px;
}

#header .main-menu ul li a.icon-faq{
	background: url(../images/small-icon/icon-faq.png) center left no-repeat;
	padding-left: 21px;
}

#header .main-menu ul li a.icon-about-us{
	background: url(../images/small-icon/icon-about-us.png) center left no-repeat;
	padding-left: 28px;
}

#header .main-menu ul li a.icon-contact{
	background: url(../images/small-icon/icon-contact.png) center left no-repeat;
	padding-left: 36px;
}


#header .my-account{
	float: right;
	background: #068b95;
	width: 160px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-family: HelveticaNeueLTCom47Light;
	margin: 10px 0px;
	border-radius: 5px;
}

#header .my-account:hover{
	background: #fff;	
}

#header .my-account:hover a{
	color: #068b95;
}

#header .my-account a{
	color: #fff;
}


/*---------------------------- CONTAIN ------------------------------*/
#contain{
	margin: 0px 10px;
	background: #fff;
	box-shadow: 0px 0px 10px #666;
	-moz-box-shadow: 0px 0px 10px #666;
	-webkit-box-shadow: 0px 0px 10px #666;
	overflow: hidden;
	margin-bottom: 10px
}

#contain .main-slide{
	text-align: center;
}

#contain .main-slide img{
	width: 980px;
	height: 500px;	
}

#contain .text-intro{
	margin-top: 25px;
	color: #2e2e2e;
	text-align: center;
	font-size: 41px;
	font-family: Museo300;
}

#contain .slide-affiliate{
	padding-top: 10px;
}

#contain .slide-affiliate ul li img{
	height: 40px;
}

#contain .slide-affiliate:hover .btn-pre, #contain .slide-affiliate:hover .btn-next{
	display: block;
}  

#contain .slide-affiliate .btn-pre{
	width: 20px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 17px;
	left: 0px;
	display: none;
	background: url(../images/arrow-left.png) center center no-repeat;
	cursor: pointer;
}

#contain .slide-affiliate .btn-next{
	width: 20px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 17px;
	right: 0px;
	display: none;
	background: url(../images/arrow-right.png) center center no-repeat;
	cursor: pointer;
}

#contain .slide-affiliate .bx-wrapper{
	margin: 0px;
}

#contain .slide-affiliate .bx-wrapper .bx-viewport{
	-webkit-box-shadow: 0 0 5px #fff !important;
	box-shadow: 0 !important;
	border: none;
	left: 0px;
	background: #fff;
	height: 50px !important;
}

.slide-affiliate li{
	width: auto !important;
	max-width: 200px;
	min-width: 50px;
	padding: 5px 0px;
}

#contain .slide-affiliate .bx-pager-item{
	display: none;
}

#contain .count-down-adv{
	margin-top: 10px;	
	text-align: center;
}

#contain .social-button{
	text-align: center;
}

#contain .social-button ul li{
	display: inline-block;	
	margin-right: 30px;
	margin-top: 10px;
}

#contain .social-button a{
	display: inline-block;
	width: 23px;
	height: 23px;	
}

#contain .social-button .icon-facebook{
	background: url(../images/small-icon/icon-facebook.png);
}

#contain .social-button .icon-facebook:hover{
	background: url(../images/small-icon/icon-facebook-hover.png);
}

#contain .social-button .icon-twitter{
	background: url(../images/small-icon/icon-twitter.png);
}

#contain .social-button .icon-twitter:hover{
	background: url(../images/small-icon/icon-twitter-hover.png);
}

#contain .social-button .icon-tumblr{
	background: url(../images/small-icon/icon-tumblr.png);
}

#contain .social-button .icon-tumblr:hover{
	background: url(../images/small-icon/icon-tumblr-hover.png);
}

#contain .social-button .icon-pinterest{
	background: url(../images/small-icon/icon-pinterest.png);
}

#contain .social-button .icon-pinterest:hover{
	background: url(../images/small-icon/icon-pinterest-hover.png);
}

#contain .social-button .icon-myspace{
	background: url(../images/small-icon/icon-myspace.png);
}

#contain .social-button .icon-myspace:hover{
	background: url(../images/small-icon/icon-myspace-hover.png);
}

#contain .social-button .icon-instagram{
	background: url(../images/small-icon/icon-instagram.png);
}

#contain .social-button .icon-instagram:hover{
	background: url(../images/small-icon/icon-instagram-hover.png);
}

#contain .app-store{
	text-align: center;
	background: #fafafb;
	padding-top: 15px;
	padding-bottom: 20px;
}

#contain .lev{
	margin-bottom: 40px;
	overflow: hidden;
	display: table;
	width: 100%;
}

#contain .lev .bgWhite{
	background: #fff url(../images/bg-text-video.png) top left no-repeat;
	padding: 10px 5px 5px 5px;
	width: 245px;
	height: 165px;
	text-align: center;
}

#contain .lev .desc{
	display: table-cell;
	vertical-align: middle;
	padding: 0px 15px;
}

#contain .lev .desc .title{
	font-size: 30px;
	font-family: GothamroundedBold, Roboto, Verdana, Geneva, sans-serif;	
	color: #068b95;
	margin-bottom: 15px;
}

#contain .lev .desc .content{
	font-family: Roboto, Verdana, Geneva, sans-serif;
	color: #000;
	font-size: 20px;
	line-height: 30px;
	padding-right: 12px;
	text-align: justify;
}

#contain .feature{
	line-height: 60px;
	text-align: center;
	color: #1f1f1f;
	font-family: Roboto, Verdana, Geneva, sans-serif;	
	font-size: 35px;
	height: 60px;
	font-weight: bold;
	/*background: url(../images/bg-feature.png) top left repeat-x;*/
	margin-bottom: 60px;
	padding-top: 15px;
}

#contain .feature span{
	font-family: Museo700;
	font-weight: bold;
}

#contain .video-intro{
	padding: 15px;
	background: #fffffe;
	width: inherit;
	margin-bottom: 0px;
}

#contain .video-intro .text{
	color: #068b95;
	font-family: GothamroundedBold, Roboto, Verdana, Geneva, sans-serif;
	font-size: 42px;
	width: 72%;
	float: left;
}

#contain .search-tag{
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 0px;
}

#contain .search-tag .search-left{
	width: 350px;
	float: left;
	padding-left: 15px;
	text-align: left;
}

#contain .search-tag .search-left .input{
	
}

#contain .search-tag .search-left .input .btn-search{
	background: url(../images/icon-search.png) top left no-repeat;
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 7px;
	right: 35px;
	opacity: 0.3;	
}

#contain .search-tag .search-left .input .btn-search:hover{
	opacity: 0.6;		
}

#contain .search-tag .search-left .input input[type="TEXT"]{
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	width: 300px;
	height: 35px;
	padding: 0px 10px;
	font-family: Roboto, Verdana, Geneva, sans-serif;
	font-size: 20px;
	line-height: 24px;
}

#contain .search-tag .search-left .items{
	margin-top: 20px;
	overflow: hidden;	
}

#contain .search-tag .search-left .items .border-img{
	float: left;
	background: #fff;
	border: 3px solid #74b3b6;
	margin-right: 20px;
	margin-top: 20px;
}

#contain .search-tag .search-left .items .border-img img{
	width: 145px;
	height: 145px;
}

#contain .search-tag .search-right{
	width: 595px;
	border: 3px solid #74b3b6;
	background: #ebebeb;
	padding-top: 10px;	
	float: left;
}

#contain .search-tag .search-right .item-img{
	float: left;
	margin-left: 18px;
	margin-bottom: 13.5px;
	margin-top: 3px;	
}

#contain .search-tag .search-right .item-img img{
	width: 175px;
	height: 175px;
}


#contain .image_bot{
	padding-top: 65px;
}





#footer{
	_height: 40px;
	_background: #232323;
	_overflow: hidden;
	_width: 950px;
	_margin: 0px auto;
	_line-height: 40px;
	_padding: 0px 15px;
	_margin-bottom: 10px;
	_margin-top: 20px;
	_box-shadow: 0px 0px 10px #333;
	_-moz-box-shadow: 0px 0px 10px #333;
	_-webkit-box-shadow: 0px 0px 10px #333;
}

#footer .menu{
	float: left;
}

#footer .menu ul li{
	float: left;
	margin-right: 25px;
}

#footer .menu ul li a{
	_font-family: HelveticaNeueLTComLTCn;
	_font-size: 15px;
	color: #8f8f8f;
}

#footer .menu ul li a:hover{
	color: #fff;
}

#header .social-btn, #footer .social-btn{
	float: right;
	line-height: 32px;
}

#header .social-btn{
	padding-top: 19px;
	margin-right: 105px;
}
	
#footer .social-btn{
	padding-top: 31px;
}
	
#header .social-btn ul li, #footer .social-btn ul li{
	float: right;
	margin-left: 15px;
}













/*----------------------------------- PAGE ------------------------------------*/
#contain .page{
	padding-bottom: 60px;
	margin-top: 13px;
}

#contain .page .page-header{
	height: 40px;
	/*background: url(../images/bg-page-title.jpg) top left repeat-x;*/
	background: #068b95;
	margin-top: -13px;
	text-transform: uppercase;
	font-size: 20px;
	font-family: HelveticaNeueLTComLTCn;
	color: #fff;
	line-height: 40px;
	padding-left: 20px;
}

#contain .page .page-title{
	text-align: center;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 50px;	
	color: #068b95;
	font-family: GothamroundedBold, Roboto, Verdana, Geneva, sans-serif;
	text-transform: uppercase;
}

#contain .page .page-title img{
	vertical-align: middle;
}

#contain .page .page-content{
	padding: 0 20px;	
	color: #000;
	font-size: 17px;
	line-height: 30px;
	font-family: Roboto, Verdana, Geneva, sans-serif;
}

#contain .page .page-content ul{
	padding-left: 40px;	
}

#contain .page .page-content ul li{
	list-style: inside;	
}

#contain .page .item{
	padding: 0px 20px;	
	font-size: 20px;
	color: #000;
	margin-bottom: 40px;
}

#contain .page .item .name{
	color: #068b95;
	margin-bottom: 5px;
	font-family: GothamroundedBold, Roboto, Verdana, Geneva, sans-serif;
}

#contain .page .item .desc{
	line-height: 30px;	
	font-family: Roboto, Verdana, Geneva, sans-serif;
	font-size: 17px;
}


#contain .page .login-colum{
	width: 45%;
	float: left;
	margin-top: 50px;
	padding: 0px 20px;
	margin-bottom: 40px;
}

#contain .page .login-colum .name{
	color: #068b95;
	font-size: 20px;
	font-family: GothamroundedBold, Roboto, Verdana, Geneva, sans-serif;
	border-bottom: 1px solid #b2b2b2;
	padding-bottom: 5px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

#contain .page .login-colum .name .name-desc{
	font-family: Roboto, Verdana, Geneva, sans-serif;
	font-size: 17px;
	color: #000;
	margin-top: 20px;
	margin-bottom: 12px;
	text-transform: none;
}

#contain .page .login-colum .elem{
	margin-bottom: 30px;	
}

#contain .page .login-colum .elem label{
	font-family: Roboto, Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
	display: block;
}	

#contain .page .login-colum .elem label.input{
	width: auto;
	margin-right: 30px;
}

#contain .page .login-colum .elem label.input input[type="radio"]{
	margin-right: 5px;	
}

#contain .page .login-colum .elem .text{
	border-radius: 5px;
	border: 1px solid #cfcfcf;
	background: #f5f5f5;
	height: 33px;
	width: 310px;
	padding: 0px 10px;
	font-size: 14px;
}

#contain .page .login-colum .elem .textarea{
	border-radius: 5px;
	border: 1px solid #cfcfcf;
	background: #f5f5f5;
	height: 33px;
	width: 310px;
	padding: 10px;
	font-size: 14px;
	width: 712px;
	height: 150px;
	resize: none;
	margin-left: 4px;
}

#contain .page .login-colum .elem .forgot{
	font-family: Roboto, Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #65c7ff;
	margin-top: 10px;
	text-decoration: underline;
	display: inline-block;
}

#contain .page .login-colum .reg{
	font-family: Roboto, Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #000;
}

#contain .page .login-colum .button{
	background:	#068b95;
	display: inline-block;
	height: 40px;
	padding: 0px 30px;
	line-height: 40px;
	color: #fff;
	font-size: 15px;
	font-family: HelveticaNeueLTComMdCn;
	text-align: center;
}

#contain .page .login-colum .button:hover{
	opacity: 0.7;
}

#contain .page .max_width .name{
	border-bottom: 1px solid #e5e5e5;
}

#contain .page .max_width .elem{
	margin-bottom: 10px;	
}

#contain .page .max_width .elem .frm_error{
	margin-left: 205px;
}

#contain .page .max_width .elem label{
	width: 200px;
	display: inline-block !important;
}

#contain .page .max_width .elem .policy{
	height: 40px;
	line-height: 40px;
	margin-right: 15px;
	font-family: Roboto, Verdana, Geneva, sans-serif;
	font-size: 16px;
	color: #000;
}

#contain .page .max_width .elem .policy span{
	margin-right: 5px;	
}

#contain .hall-of-fame{
	background: url(../images/bg-hall-of-fame.png) top left no-repeat;
	min-height: 500px;
	margin-top: 0px;
	overflow: hidden;
}

#contain .hall-of-fame .login-colum{
	margin-top: 0px;
	padding: 0px;
}

#contain .hall-of-fame .title-head{
	background: url(../images/title-hall-of-fame.png) center center no-repeat;
	display: block;
	width: 980px;
	height: 358px;
	margin-top: 65px;
}

#contain .hall-of-fame .list-user{
	margin-top: 85px;
	/*background: url(../images/bg-list-data.png) center top repeat-y;*/
	min-height: 550px;
}

#contain .hall-of-fame .levs{
	overflow: hidden;
}

#contain .hall-of-fame .bg-green{
	background: url(../images/bg-green.png) top left;
}

#contain .hall-of-fame .bg-white{
	background: url(../images/bg-white.png) top left;
}

#contain .hall-of-fame .levs .item-user{
	width: 47%;
	float: left;
	margin-right: 4%;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}

#contain .hall-of-fame .levs .right{
	text-align: right;
	padding-right: 0.5%;
}

#contain .hall-of-fame .levs .left{
	text-align: left;
	padding-left: 0.5%;
}

#contain .hall-of-fame .levs .white .name-user{
	color: #fff !important;
}

#contain .hall-of-fame .levs .item-user .name-user{
	font-size: 30px;
	font-family: Monotype Corsiva, Times, serif;
	color: #000;
}











/*----------------------------------- VIDEO PLAYER -------------------------------*/

.masktrue,.lb_overlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent url(../images/landing-bg-masktrue.png) 0 0 repeat;
}
#video-box{
	display:none;
	margin: 0 auto;
	padding: 30px 30px 30px 29px;
	background: transparent url(../images/landing-bg-video-box.png) no-repeat;
}

#videoid{
	width: 720px;
	height: 404px;
}

#video-box .close{
	float: right;
	display: block;
	width: 30px;
	height: 30px;
	margin: -30px -30px;
}
@media screen and (max-width: 480px){
	#video-box{
		display: none;
		padding: 12px 14px 3px 11px;
		background: transparent url(../images/landing-bg-video-box-mini.html) no-repeat;
	}
	
	#video-box a.close{
		float: right;
		display: block;
		width: 12px;
		height: 12px;
		margin: -12px -12px 0 0;
	}
	#videoid{
		width: 276px;
		height: 155px;
	}
}

#fancybox-overlay{
	width: 101% !important;	
}




/*------------------------------------ POPUP ALERT ------------------------------*/
.popup-success, .popup-warning, .popup-error, .popup-info{
	width:500px;
	min-height:20px;
	padding: 5px 10px 5px 35px;
	border: 1px solid #fff;
	border-radius:3px;
	position: fixed;
	top: 10px;
	left: 50%;	
	margin-left: -275px;
	z-index: 1000;	
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	display: none;
	color: #666;
}

#popup-alert{
	display: none;
}

#close_popup{
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../images/small-icon/msg-close-sprite.gif) 0px -15px no-repeat;
	position: absolute;
	top: 3px;
	right: 3px;
}


.popup-success{
	border-color: #c2e2bb;
	background: #d5ffce url(../images/icon-sussec.png) 10px center no-repeat;
}

.popup-warning{
	border-color: #FFCC00;
	background: #FFFF99 url(../images/icon-warning.html) 10px center no-repeat;
}

.popup-error{
	border-color: #DD0000;
	background: #FFB7B7 url(../images/icon-error.png) 10px center no-repeat;
}
.popup-info{
	border-color: #0159BA;
	background: #CAD3FF url(../images/icon-info.png) 10px center no-repeat;
}

.popup-success #close_popup{
	background: url(../images/small-icon/msg-close-sprite.gif) 0px 0px no-repeat;
}

.popup-success #close_popup:hover{
	background: url(../images/small-icon/msg-close-sprite.gif) -15px 0px no-repeat;
}

.popup-error #close_popup{
	background: url(../images/small-icon/msg-close-sprite.gif) 0px -30px no-repeat;
}

.popup-error #close_popup:hover{
	background: url(../images/small-icon/msg-close-sprite.gif) -15px -30px no-repeat;
}

.popup-warning #close_popup{
	background: url(../images/small-icon/msg-close-sprite.gif) 0px -15px no-repeat;
}

.popup-warning #close_popup:hover{
	background: url(../images/small-icon/msg-close-sprite.gif) -15px -15px no-repeat;
}

.popup-info #close_popup{
	background: url(../images/small-icon/msg-close-sprite.gif) 0px -45px no-repeat;
}

.popup-info #close_popup:hover{
	background: url(../images/small-icon/msg-close-sprite.gif) -15px -45px no-repeat;
}
	
/*----------------------------------------- GLOBAL LOADING --------------------------------------*/
.global_loading{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #fff;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	text-align: center;
	z-index: 9999;
}

.global_loading img{
	margin-top: 20%;
}



#fancybox-overlay{
	_background: none !important;	
}



/*-------------------------- MICRO SITE --------------------------*/
.box{
	width: 500px;
	margin: 80px auto 0px;	
}

.box .box-header{
	border: 1px solid #ccc;
	background: #ebebeb;
	font-family: GothamroundedBold, Roboto, Verdana, Geneva, sans-serif;
	font-size: 21px;
	line-height: 54px;
	height: 48px;	
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 3px;
	box-shadow: 0px -5px 50px #c0c0c0;
	color: #000;
}

.box .box-content{
	border: 1px solid #ccc;
	background: #ebebeb;
	padding: 0px 20px;
	box-shadow: 0px 5px 50px #c0c0c0;
	border-radius: 0px 0px 10px 10px;
}

.box .box-content .lev{
	margin: 0px 15px;
	margin-bottom: 15px;
}

.box .box-content .lev span.title{
	display: block;
	font-size: 20px;
	color: #323232;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

.box .box-content .lev .txt_box{
	width: 410px;
	height: 40px;
	border: 1px solid #d3d3d3;
	background: #f5f5f5;
	border-radius: 5px;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 10px;
	-webkit-box-shadow: inset 0px 0px 10px #cfcfcf;
	-moz-box-shadow: inset 0px 0px 10px #cfcfcf;
	box-shadow: inset 0px 0px 10px #cfcfcf;
}

.box .box-content .lev .btn-submit{
	background: #068b95;
	display: inline-block;
	color: #fff;
	font-size: 20px;
	font-family: HelveticaNeueLTComLTCn;
	padding: 0px 30px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
}

.box .box-content .lev .btn-submit:hover{
	opacity: 0.7;	
}

.box .box-content .lev .url{
	color: #4bb5ff;
	font-size: 20px;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	text-align: center;
	margin: 60px 0px;
}

.box .box-content .lev .choose_opt{
	display: inline-block;
	float: left;
	margin-right: 35px;
}

.box .ios-tut{
	margin-top: 120px;
	text-align: center;
	font-family: GothamroundedBold, Roboto, Verdana, Geneva, sans-serif;
	font-size: 25px;
	color: #000;
}

.box .ios-tut a{
	text-decoration: underline;
}

.ios-tutorial{
	margin-top: 60px;
	padding: 0px 90px;
}

.ios-tutorial .lev{
	margin-bottom: 50px;
}

.ios-tutorial .lev .title{
	font-family: GothamroundedBold, Roboto, Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #068b95;
}

.ios-tutorial .lev .title .number{
	background: #068b95;
	color: #fff;
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 50px;
	margin-right: 35px;
}

.ios-tutorial .lev .cont{
	padding-left: 67px;
	font-size: 20px;
	color: #818181;
	font-family: Arial, Helvetica, sans-serif;
}

.ios-tutorial .lev .cont .img{
	margin-top: 25px;
	text-align: center;
	width: 80%;
}

.ios-tutorial .lev .cont .img img{
	box-shadow: 0px 2px 20px #bbb;
}







.tagcash-img{
	display: inline-block;
	position: relative;
}

div.media{
	position: relative !important;
	display: inline-block !important;
}

.tagcash-img img{
	/*width: 500px;*/
}

div.media:hover > .tag-position{
	opacity: 1;
}

.tag-position{
	width: 31px;
	height: 31px;
	background: url(../images/defaulticon.png) top left no-repeat;
	position: absolute;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.tag-position:hover{
	opacity: 1;
}

.tagcash-tip{
	display: none;
	text-align: center;
}

.tagcash-tip .item{
	display: none;
}

.tagcash-tip .item:FIRST-CHILD{
	display: block;
}

.tagcash-tip .item .item_border_img{
	width: 120px;
	float: left;
	border: 1px solid #ccc;
	background: #fff;
	padding: 5px;
}

.tagcash-tip .item .item_border_img img{
	max-width: 120px;
}

.tagcash-tip .item .item_info{
	float: left;
	margin-left: 10px;
	width: 250px;
}

.tagcash-tip .item .item_info h3{
	font-family: Roboto, Verdana, Geneva, sans-serif;
	font-size: 15px;
	margin-bottom: 15px;
	color: #4d7779;
	text-align: left;
}

.tagcash-tip .item .item_info .item_price{
	float: left;
	font-weight: bold;
	font-size: 14px;
}

.tagcash-tip .item .item_info .item_btn_buy{
	float: left;
	margin-top: 20px;
}

.tagcash-tip .item_pag{
	
}

.tagcash-tip .item_pag ul{
	margin-top: 10px;
}

.tagcash-tip .item_pag ul li{
	float: left;
	background: red;
	display: block;
	width: 36px;
	height: 36px;
	margin-right: 5px;
	line-height: 36px;
	color: #fff;
	background: url(../images/item-hotspot-paginator.png) center center no-repeat;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
}

.tagcash-tip .item_pag ul li.active{
	background: url(../images/item-hotspot-paginator-active.png) center center no-repeat;
}

	

















/*======================================= APP LAYOUT ====================================================*/
.app-layout{
	width: 100%;
}

.app-layout #wrapper{
	margin: 0px;
}

.app-layout #contain .page .page-header{
	font-size: 16px;
}

.app-layout #contain .page{
	padding-bottom: 10px;
}

.app-layout #contain .page .page-title{
	font-size: 20px;
	margin-bottom: 30px;
}

.app-layout #contain .page .item{
	margin-bottom: 25px;
}

.app-layout #contain .page .item .name{
	font-size: 16px;
}

.app-layout #contain .page .item .desc{
	font-size: 14px;
	line-height: 22px;
	text-align: justify;
}

.app-layout #contain .page .item .desc ul{
	margin-top: 10px;
	margin-left: 45px;
}

.app-layout #contain .page .item .desc ul li{
	 margin-bottom: 15px;
}








/*==================================================== MODULE COMPETITION ===================================================*/
.bracketology{
	
}

.bracketology .bg-page-header{
	height: 30px;	
}

.bracketology .bg-page-t-shirt{
	width: 100%;
	position: absolute;
	left: 0px;
	top: 30px;
	background: url(../images/bg-t-shirt-page.png) top left repeat-x;
	height: 66px;
}

.bracketology #header{
	height: 30px;	
}

.bracketology #header .logo{
	margin-top: 2px;
}

.bracketology #header .logo img{
	width: 95px;	
}

.bracketology #header .main-menu ul li{
	line-height: 30px;	
}

.bracketology #header .main-menu ul li:hover{
	line-height: 30px;
	height: 30px;
	margin: 0px 5px 0px 0px;
	background: none;	
}

.bracketology #header .main-menu ul li a{
	color: #ec9904;	
	font-family: Calibri;
	font-size: 14px;
	text-transform: uppercase;
}

.bracketology .t-shirt{
	background: url(../images/bg-header-t-shirt.png) top left repeat-x;
	height: 123px;
}

.bracketology .t-shirt img{
	margin-top: -1px;
}

.bracketology #contain{
	padding: 0px 10px;	
}

.bracketology #contain .quaterfinals{
	background: url(../images/bg-quarterfinals.png) top left no-repeat;
	height: 565px;
	padding: 0px 20px;
}

.bracketology #contain .bg-semi-semi{
	background: url(../images/bg-semi-semi.png) top left no-repeat;
}

.bracketology #contain .quater-intro{
	height: 30px;
	background: #232323;
	box-shadow: 0px 3px 5px #999;	
	font-size: 15px;
	font-family: Trebuchet MS;
	color: #e59403;
	line-height: 30px;
}

.bracketology #contain .quater-intro .icon_like{
	background: url(../images/icon_like.png) top left no-repeat;
	display: inline-block;
	width: 13px;
	height: 12px;	
	margin-left: 10px;
}


.bracketology #contain .quater-intro .icon_star{
	background: url(../images/icon_star.png) top left no-repeat;
	display: inline-block;
	width: 16px;
	height: 14px;	
	margin-left: 20px;
}

.bracketology #contain .quaterfinals .left{
	width: 50%;
	float: left;
	margin-top: 100px;
}

.bracketology #contain .quaterfinals .left .two-items{
	float: left;	
}

.bracketology #contain .quaterfinals .left .item-lev{
	width: 155px;
	height: 205px;
	box-shadow: 0px 0px 10px #999;
	border-radius: 7px;
	background: #fff;
	font-size: 12px;
	font-family: Trebuchet MS;
	margin-bottom: 25px;
	display: inline-block;
}

.bracketology #contain .quaterfinals .left .item-lev .images img{
	border-radius: 7px 7px 0px 0px;
	width: 155px;
	height: 130px;
}

.bracketology #contain .quaterfinals .left .item-lev .lev-info{
	color: #535353;	
	padding: 0px 7px;
}

.bracketology #contain .quaterfinals .left .item-lev .lev-info .name{
	
}

.bracketology #contain .quaterfinals .left .item-lev .lev-info .created a{
	color: #d88b00;
}

.bracketology #contain .quaterfinals .left .item-lev .action{
	background: #f0f0f0;
	height: 30px;	
	padding: 0px 13px;
	line-height: 30px;
	border-top: 1px solid #d2d2d2;
	border-radius: 0px 0px 7px 7px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 129px;
}

.bracketology #contain .quaterfinals .left .item-lev .action .like{
	width: 50%;
	border-right: 1px solid #d2d2d2;
	float:left;
}

.bracketology #contain .quaterfinals .left .item-lev .action .like span{
	display: inline-block;
	width: 17px;
	height: 16px;
	background: url(../images/icon-like-gray.png) top left no-repeat;
	margin-top: 7px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}


.bracketology #contain .quaterfinals .left .item-lev .action .vote{
	width: 49%;
	float:left;
	color: #333;
}

.bracketology #contain .quaterfinals .left .item-lev .action .vote span.active{
	background: url(../images/icon_star.png) top left no-repeat;
}

.bracketology #contain .quaterfinals .left .item-lev .action .vote span{
	display: inline-block;
	width: 16px;
	height: 15px;
	background: url(../images/icon-star-gray.png) top left no-repeat;
	margin-top: 7px;
	float: left;
	margin-right: 10px;
	margin-left: 13px;
	cursor: pointer;
}

.bracketology #contain .quaterfinals .left .item-lev .action .vote-active{
	color: #999;	
}

.bracketology #contain .quaterfinals .left .item-lev .action .vote-active span{
	display: inline-block;
	width: 16px;
	height: 15px;
	background: url(../images/icon-star-gray-active.png) top left no-repeat;
	margin-top: 7px;
	float: left;
	margin-right: 10px;
	margin-left: 13px;
}

.bracketology #contain .quaterfinals .left .line-connect{
	display: inline-block;
	width: 40px;
	height: 232px;
	background: url(../images/line-connect.png) top left no-repeat;
	position: absolute;
	top: 100px;
	left: 175px;
}

.bracketology #contain .quaterfinals .left .one-item{
	float: left;	
}

.bracketology #contain .quaterfinals .left .one-item .item-lev{
	margin-left: 80px;
	margin-top: 115px;
}





.bracketology #contain .quaterfinals .right{
	width: 50%;
	float: left;
	margin-top: 100px;
}

.bracketology #contain .quaterfinals .right .two-items{
	float: right;	
}

.bracketology #contain .quaterfinals .right .item-lev{
	width: 155px;
	height: 205px;
	box-shadow: 0px 0px 10px #999;
	border-radius: 7px;
	background: #fff;
	font-size: 12px;
	font-family: Trebuchet MS;
	margin-bottom: 25px;
	display: inline-block;
}

.bracketology #contain .quaterfinals .right .item-lev .images img{
	border-radius: 7px 7px 0px 0px;
	width: 155px;
	height: 130px;
}

.bracketology #contain .quaterfinals .right .item-lev .lev-info{
	color: #535353;	
	padding: 0px 7px;
}

.bracketology #contain .quaterfinals .right .item-lev .lev-info .name{
	
}

.bracketology #contain .quaterfinals .right .item-lev .lev-info .created a{
	color: #d88b00;
}

.bracketology #contain .quaterfinals .right .item-lev .action{
	background: #f0f0f0;
	height: 30px;	
	padding: 0px 13px;
	line-height: 30px;
	border-top: 1px solid #d2d2d2;
	border-radius: 0px 0px 7px 7px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 129px;
}

.bracketology #contain .quaterfinals .right .item-lev .action .like{
	width: 50%;
	border-right: 1px solid #d2d2d2;
	float:left;
}

.bracketology #contain .quaterfinals .right .item-lev .action .like span{
	display: inline-block;
	width: 17px;
	height: 16px;
	background: url(../images/icon-like-gray.png) top left no-repeat;
	margin-top: 7px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}

.bracketology #contain .quaterfinals .item-lev .action .like span.active, .bracketology #contain .quaterfinals .item-lev .action .like span:hover{
	background: url(../images/icon-like-yellow.png) top left no-repeat;
}

.bracketology #contain .quaterfinals .item-lev .action .like span#winner:hover{
	background: url(../images/icon-like-gray.png) top left no-repeat;
}

.bracketology #contain .quaterfinals .item-lev .action .like span.active:hover{
	background: url(../images/icon-like-yellow.png) top left no-repeat !important;
}

.bracketology #contain .quaterfinals .item-lev .action .number{
	display: inline !important;
	width: inherit !important;
	height: inherit !important;
	background: none !important;
	margin: 0px !important;
	float: none !important;
}

.bracketology #contain .quaterfinals .right .item-lev .action .vote{
	width: 49%;
	float:left;
	color: #333;
}

.bracketology #contain .quaterfinals .right .item-lev .action .vote span{
	display: inline-block;
	width: 16px;
	height: 15px;
	background: url(../images/icon-star-gray.png) top left no-repeat;
	margin-top: 7px;
	float: left;
	margin-right: 10px;
	margin-left: 13px;
}

.bracketology #contain .quaterfinals .right .item-lev .action .vote span.active{
	background: url(../images/icon_star.png) top left no-repeat;
}

.bracketology #contain .quaterfinals .right .item-lev .action .vote-active{
	color: #999;	
}

.bracketology #contain .quaterfinals .right .item-lev .action .vote-active span{
	display: inline-block;
	width: 16px;
	height: 15px;
	background: url(../images/icon-star-gray-active.png) top left no-repeat;
	margin-top: 7px;
	float: left;
	margin-right: 10px;
	margin-left: 13px;
}

.bracketology #contain .quaterfinals .right .line-connect{
	display: inline-block;
	width: 40px;
	height: 232px;
	background: url(../images/line-connect-right.png) top left no-repeat;
	position: absolute;
	top: 100px;
	right: 175px;
}

.bracketology #contain .quaterfinals .right .one-item{
	float: right;	
}

.bracketology #contain .quaterfinals .right .one-item .item-lev{
	margin-right: 80px;
	margin-top: 115px;
}

.bracketology #contain .quaterfinals .control{
	background: url(../images/bg-action.png) top left repeat;
	height: 30px;
	line-height: 30px;
	text-align: right;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	border-radius: 7px 7px 0px 0px;
	display: none;
}

.bracketology #contain .quaterfinals .control a{
	margin-right: 5px;
	display: inline-block;
	margin-top: 5px;
}




.bracketology #contain .semifinal{
	height: 367px;
	background: url(../images/bg-semifinal.png) top left no-repeat;
	margin-top: 15px;
	margin-bottom: 63px;
	padding: 0px 110px;
}

.bracketology #contain .bg-semi-quarter{
	background: url(../images/bg-semi-quarter.png) top left no-repeat;
}

.bracketology #contain .semifinal .left{
	width: 50%;
	float: left;	
	margin-top: 60px;
}

.bracketology #contain .semifinal .left .two-items{
	float: left;	
}

.bracketology #contain .semifinal .left .item-lev{
	width: 125px;
	height: 125px;
	box-shadow: 0px 0px 10px #000;
	border-radius: 7px;
	background: #fff;
	font-size: 12px;
	font-family: Trebuchet MS;
	margin-bottom: 15px;
	display: inline-block;
}

.bracketology #contain .semifinal .left .item-lev .images{
	text-align: center;	
	background: #f6f6f6;
	width: 125px;
	height: 125px;	
	border-radius: 7px;
}

.bracketology #contain .semifinal .left .item-lev .images img{
	border-radius: 7px;
	margin-top: 13px;
	width: 100px;
	height: 100px;
}


.bracketology #contain .semifinal .left .line-connect{
	display: inline-block;
	width: 40px;
	height: 141px;
	background: url(../images/line-connect-semi.png) top left no-repeat;
	position: absolute;
	top: 60px;
	left: 140px;
}

.bracketology #contain .semifinal .left .one-item{
	float: left;	
}

.bracketology #contain .semifinal .left .one-item .item-lev{
	margin-left: 70px;
	margin-top: 70px;
}





.bracketology #contain .semifinal .right{
	width: 50%;
	float: left;
	margin-top: 60px;
}

.bracketology #contain .semifinal .right .two-items{
	float: right;	
}

.bracketology #contain .semifinal .right .item-lev{
	width: 125px;
	height: 125px;
	box-shadow: 0px 0px 10px #000;
	border-radius: 7px;
	background: #fff;
	font-size: 12px;
	font-family: Trebuchet MS;
	margin-bottom: 15px;
	display: inline-block;
}

.bracketology #contain .semifinal .right .item-lev .images{	
	text-align: center;	
	background: #f6f6f6;
	width: 125px;
	height: 125px;	
	border-radius: 7px;
}

.bracketology #contain .semifinal .right .item-lev .images img{
	border-radius: 7px;
	margin-top: 13px;
	width: 100px;
	height: 100px;
}


.bracketology #contain .semifinal .right .line-connect{
	display: inline-block;
	width: 40px;
	height: 141px;
	background: url(../images/line-connect-semi-right.png) top left no-repeat;
	position: absolute;
	top: 60px;
	right: 140px;
}

.bracketology #contain .semifinal .right .one-item{
	float: right;	
}

.bracketology #contain .semifinal .right .one-item .item-lev{
	margin-right: 70px;
	margin-top: 70px;
}


.bracketology #contain .semifinal .control{
	background: url(../images/bg-action.png) top left repeat;
	height: 30px;
	line-height: 30px;
	text-align: right;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	border-radius: 7px 7px 0px 0px;
	display: none;
}

.bracketology #contain .semifinal .control a{
	margin-right: 5px;
	display: inline-block;
	margin-top: 5px;
}

	
.competition-rule{
	background: #fff;
	width: 600px;
	overflow: hidden;
}

.competition-rule h1.title{
	font-family: Calibri;
	font-size: 30px;
	color: #000;	
	margin-bottom: 10px;
	width: 95%;
	margin: 0px auto;
}

.competition-rule p.text{
	font-size: 14px;
	color: #5a5a5a;
	font-family: Calibri;
	width: 95%;
	margin: 0px auto;
}

.competition-rule .txt-rule{
	height: 35px;
	background: #f0f0f1;
	border: 1px solid #c8c8c9;
	border-width: 1px 0px;
	text-align: center;
	padding: 10px 0px;	
	margin: 10px 0px;
}

.competition-rule .reward{
	height: 150px;
	background: #f0f0f1;
	border-top: 1px solid #d1d1d2;
	margin-top: 25px;
	text-align: center;
	padding: 15px 0px;
}

.competition-rule .reward .reward-500{
	width: 40%;
	float: left;
	margin-left: 10%;
}

.competition-rule .reward .reward-200{
	width: 40%;
	float: left;	
}

.competition-rule .reward .line{
	width: 75%;
	height: 2px;
	background: red;
	margin: 70px auto 0px;
	background: url(../images/line-rule.jpg) top left repeat-x;
	margin-bottom: 20px;
}


.login-bracket{
	width: 600px;
	background: #fff;
}

.login-bracket .left{
	float: left;
	width: 50%;
	padding: 20px 0px 20px 30px;
}

.login-bracket .left .title{
	font-family: Trebuchet MS;
	font-size: 25px;
	color: #000;
	margin-bottom: 30px;
}

.login-bracket .left .lev{
	
}

.login-bracket .left .lev .label{
	font-family: Trebuchet MS;
	font-size: 14px;
	color: #646464;
	margin-bottom: 10px;	
	display: block;
}

.login-bracket .left .lev .txt-box{
	height: 30px;
	width: 250px;
	padding: 0px 5px;
	border: 1px solid #b6b6b6;
	box-shadow: inset -2px 1px 10px #ccc;
}

.login-bracket .left .lev .checkbox{
	margin-top: 60px;
}

.login-bracket .left .lev .checkbox{
	font-family: Trebuchet MS;
	font-size: 17px;
	color: #646464;
	display: inline-block;
}


.login-bracket .left .lev .btn-login{
	background: url(../images/btn-login.jpg) top left no-repeat;	
	display: inline-block;
	width: 88px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-family: Trebuchet MS;
	font-size: 20px;
	margin-top: 20px;
}

.login-bracket .right{
	float: left;
	width: 45%;
	background: #f0f0f1;
	padding: 80px 0px;
	text-align: center;
}

.login-bracket .right .reg{
	color: #8e8e8e;
	font-family: Trebuchet MS;
	font-size: 19px;
	margin-bottom: 15px;
}

.login-bracket .right .intro{
	font-family: Trebuchet MS;
	font-size: 23px;
	margin-bottom: 15px;
}

.login-bracket .right .intro a{
	color: #306b9c;
}


.form-edit-competition{
	width: 600px;
}

.form-edit-competition > h1{
	font-size: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}

.form-edit-competition .lev{
	margin-bottom: 10px !important;
	overflow: inherit !important;
}

.form-edit-competition .lev .label{
	display: inline-block;
	width: 120px;
	font-size: 13px;
}

.form-edit-competition .lev .txt-box{
	border: 1px solid #ccc;
	height: 25px;
	width: 300px;
	padding: 0px 10px;
}

.form-edit-competition .lev .file{
	border: 1px solid #ccc;
	background: #fff;
	width: 214px;
	padding: 3px;
}

.form-edit-competition .lev .current-picture{
	display: inline-block;
	margin-left: 133px;
	border: 1px solid #ccc;
	margin-top: 5px;
}

.form-edit-competition .lev .frm_error{
	margin-left: 135px;
}

.form-edit-competition .lev .btn-submit{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background: #eee;
	border: 1px solid #888;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	float: right;
}

.form-edit-competition .lev .btn-submit:hover{
	background: #fff;
}

.btn-vote{
	display: inline-block;
	width: 57px;
	height: 23px;
	background: url(../images/btn-vote.png) top left no-repeat;
	cursor: pointer;
	margin-left: 10px;
}










/*====================================================*/
/* Extension */
/*====================================================*/
.ui-tooltip {
	max-width: none !important;
}

.addthis_toolbox{
	position: fixed;
	top: 30%;
	left: 3%;
	background: rgba(204, 204, 204, 0.5);;
}

.tool-tip-images{
	max-width: 600px;
}


/*
#fancybox-close{
	background: url(../images/icon-popup-close-compe.png) top left no-repeat !important;
	top: 5px !important;
	right: 5px !important;
}*/


/*--- cici ---*/

/*------------------------------- Home Page -----------------------------------*/

.fancyboxGB {
	z-index: 100 !important; //fix video overlay div behind main slider
}

.bx-wrapper .bx-viewport {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	background: none !important;
}

.section-header{
	height: 40px;
	background: #333645;
	text-transform: uppercase;
	font-size: 20px;
	font-family: HelveticaNeueLTComLTCn;
	color: #fff;
	line-height: 40px;
	padding-left: 20px;
	letter-spacing: 1px;
}


#home_happening {
	background: url(../images/home_happening_back.jpg) top left no-repeat;
	height: 461px;
}

#home_happening_slider_wrap {
	float: left;
	padding: 51px 0 0 23px;
}

#home_happening_slider {
	width: 454px;
	height: 386px;
	background: url(../images/home_happening_slide_1.jpg) top left no-repeat;
}

#home_happening_items_wrap {
	float: left;
	width: 480px;
	margin: 44px 0 0 18px;
}

.home_happening_item {
	width: 225px;
	height: 191px;
	float: left;
	margin: 2px 13px 12px 2px;
}

.home_happening_link {
	display: block;
	width: 165px;
	height: 191px;
	margin: 0 30px;
}

#home_happening_preview {
	display: block;
	width: 470px;
	height: 0px;
	position: absolute;
	z-index: 99997;
}

#home_happening_item_1 { background: url(../images/home_happening_item_1.png) center center no-repeat; }
#home_happening_item_2 { background: url(../images/home_happening_item_2.png) center center no-repeat; }
#home_happening_item_3 { background: url(../images/home_happening_item_3.png) center center no-repeat; }
#home_happening_item_4 { background: url(../images/home_happening_item_4.png) center center no-repeat; }


.bx-wrapper .bx-viewport {  /* fix slider css */
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
	left: 0 !important;
}

.slider {
	width:100%;
	height: auto;
	overflow: hidden;
	max-width:980px;
}

#s1s1 { background: url(../images/home_slides/slide1.jpg) center center no-repeat; }
#s1s2 { background: url(../images/home_slides/slide2.jpg) center center no-repeat; }
#s1s3 { background: url(../images/home_slides/slide3.jpg) center center no-repeat; }
#s1s4 { background: url(../images/home_slides/slide4.jpg) center center no-repeat; }

.sliderVideoLink {
	background: url(../images/home_slides/btn_play.png) left 0px no-repeat;
	float: left; 
	position: absolute; 
	display: block; 
	width: 87px;
	height: 68px;
	top: 429px;
	left: 3px;
}

.sliderVideoLink:hover {
	background: url(../images/home_slides/btn_play.png) left -68px no-repeat;
}

#slider-prev, #slider-next {
	position: absolute;
	left: -60px;
	top: 275px;
}

#slider-next {
	left: 1030px;
}

.slider_popup {
	position: absolute;
	width: 284px;
	height: 131px;
	display: none;
}

.slider_tag {
	background: transparent url(../images/glow_animat.png) 0px 0px no-repeat;
	position: absolute;
	width: 100px;
	height: 100px;
	display: none;
	cursor: default;
}

#s1p1 { left: 367px; top:  70px; background: url(../images/home_slides/s1p1.png) 0px 0px no-repeat; }
#s1p2 { left: 327px; top: 238px; background: url(../images/home_slides/s1p2.png) 0px 0px no-repeat; }
#s2p1 { left: 265px; top:   5px; background: url(../images/home_slides/s2p1.png) 0px 0px no-repeat; }
#s2p2 { left: 230px; top: 200px; background: url(../images/home_slides/s2p2.png) 0px 0px no-repeat; }
#s3p1 { left: 314px; top:  37px; background: url(../images/home_slides/s3p1.png) 0px 0px no-repeat; }
#s3p2 { left: 280px; top: 185px; background: url(../images/home_slides/s3p2.png) 0px 0px no-repeat; }
#s4p1 { left: 305px; top: 185px; background: url(../images/home_slides/s4p1.png) 0px 0px no-repeat; }

#s1t1 { left: 290px; top:  90px; }
#s1t2 { left: 250px; top: 258px; }
#s2t1 { left: 188px; top:  26px; }
#s2t2 { left: 153px; top: 221px; }
#s3t1 { left: 237px; top:  57px; }
#s3t2 { left: 203px; top: 207px; }
#s4t1 { left: 228px; top: 206px; }


.bx-prev, .bx-next {
	display: block;
	width: 30px;
	height: 45px;
}

.bx-prev { background: url(../images/home_slides/bx_arrows.png) 0px 0px no-repeat; }
.bx-prev:hover { background: url(../images/home_slides/bx_arrows.png) 0px -45px no-repeat; }
.bx-next { background: url(../images/home_slides/bx_arrows.png) -30px 0px no-repeat; }
.bx-next:hover { background: url(../images/home_slides/bx_arrows.png) -30px -45px no-repeat; }

#iPhone_wrap {
	position: absolute;
	left:  981px;// 721px;
	top: 14px;
	width: 230px;
	height: 470px;
	cursor: pointer;
}

.smartphones {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 225px;
	height: 472px; 
	z-index: 70;
}
#iPhone {
	background: url(../images/home_slides/iPhone.png) center top no-repeat;
}
#Nexus {
	background: url(../images/home_slides/Nexus.png) center top no-repeat;
	display: none;
}

.iPhoneSlider {
	width: 189px;
	height: 321px;
}

#slider2_wrap {
	position: absolute;
	left: 19px;
	top: 80px;
	z-index: 60;
}

#s2s1 { background: url(../images/home_slides/iPhone_slide1.jpg) center top no-repeat; }
#s2s2 { background: url(../images/home_slides/iPhone_slide2.jpg) center top no-repeat; }
#s2s3 { background: url(../images/home_slides/iPhone_slide3.jpg) center top no-repeat; }
#s2s4 { background: url(../images/home_slides/iPhone_slide4.jpg) center top no-repeat; }


/*--- app buttons ----------------------*/
.app-store {
	zheight: px;
}

#comming_soon {
	font-family: GothamroundedBold, Roboto, Verdana, Geneva, sans-serif;
	color: #000;
	font-size: 17px;
}

#app_btns {
	height: 80px;
}

#app_btns img {
	margin: 10px 20px;
}

#free_for {
	color: #000;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

#free_for span {
	color: #04c5fe;
}

/*--- cici 2 ---*/

.row_wrap {
	width: 100%;
	min-width: 700px;
}
.row {
	width: 700px;
	margin: 0 auto;
}

.page {
	color: #565656;
	background:  #f5f5f5;
	_padding-bottom: 70px;
}
.page-header {
	background: #e6e6e6 url(../images/201401/home_tutorials_wrapper_back.png) bottom center repeat-x;
	height: 29px;
	width: 676px;
	font-size: 14px; 
	text-shadow: 0px 1px 0px #fff;
	padding: 13px 12px 0;
}
.page-title {
	text-align: center;
    font-size: 18px;
	font-weight: 500;
	padding: 27px 0 46px;
}
.page-content {
    padding: 0 50px;
    font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	text-align: justify;
}
.desc {
    margin-top: 4px;
}
.item {
    padding-top: 16px;
	cursor: default;
}
.name {
    font-weight: bold;
	cursor: pointer;
}
.name.active {
    color: #f50000;
	cursor: default;
}
#content_wrap {
	height: 100%;
}
#content {
	background-color: #f5f5f5;
	height: 100%;
}


.wrapper .row_wrap {
	width: 100%;
}
.wrapper .row {
	width:100%;
	padding: 0 15px;
	max-width: 1140px;
}

#header .logo img{
	margin-left: 125px;
	margin-left: 100px;
}

#header_content .menu {
	float: right;
	margin-top: 21px;
	margin-right: 90px;
}
#header_content .menu ul li {
	float: left;
	padding-right: 5px;
	margin-right: 2px;
}
#header_content .menu ul li a {
	color: #232323;
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	line-height: 30px;
	display: block;
	padding: 0 13px 2px 18px;
}

#header_content .menu ul li:hover {
	background: transparent url(../images/201401/header_menu_li_back.png) top right no-repeat;
}
#header_content .menu ul li:hover a {
	background: transparent url(../images/201401/header_menu_li_a_back.png) top left no-repeat;
}

#footer_wrap {
	background: #282828;
}

#footer {
	text-align: right;
	height: 90px;
	line-height: 90px;
	color: #fff;
	font-size: 17px;
	font-weight: normal;
	width: 950px;
}
.faq .desc {
	display: none;
}

#home_tutorials_wrapper , #model_popup_foot_link {
	background: #e6e6e6 url(../images/201401/home_tutorials_wrapper_back.png) top center repeat-x;
}

.wrapper .home_header {
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	color: #313131;
	text-shadow: 0px 1px 0px #fff;
	padding: 37px 0 22px;
}

#home_tutorials_header {
	background: transparent url(../images/201401/home_tutorials_header_back.png) bottom center no-repeat;
}

#home_tutorials_content {
	width: 640px !important;
	padding: 26px 0 32px;
}

.home_tutorials_link_wrap {
	float: left;
	margin: 0;
}

.home_tutorials_link {
	background: left top no-repeat;
	display: block;
	width: 104px;
	height: 104px;
	margin: 0 28px;
	padding: 0px;
}

.home_tutorials_link:hover {
	background: left -104px no-repeat;
}

.home_tutorials_link.link_1 {
	background-image: url(../images/201401/home_tutorials_shop.png);
}

.home_tutorials_link.link_2 {
	background-image: url(../images/201401/home_tutorials_tag.png);
}

.home_tutorials_link.link_3 {
	background-image: url(../images/201401/home_tutorials_delete_tag.png);
}

.home_tutorials_link.link_4 {
	background-image: url(../images/201401/home_tutorials_edit_tag.png);
}

.home_tutorials_link_title {
	font-weight: normal;
	font-size: 20px;
	color: #515151;
	text-align: center;
	line-height: 35px;
	text-shadow: 0px 1px 0px #fff;
}

#home_slider_wrap {
	padding-top: 66px;
	height: 433px;
	border-bottom: solid 10px #a9a096;
	background: transparent url(../images/201401/home_slider_wrap_back.png) top center repeat-x;
}

#home_slider {
	background: transparent url(../images/201401/home_slider_back.png) top center no-repeat;
	height: 433px;
}

#home_slider  .slide {
	width:100%;
	height: 433px;
	position: relative;
	max-width: 1140px;
}

#slide0 {
	background: transparent url(../images/201401/hand_with_phone.png) top center no-repeat;
}

#gettheapp {
	width: 414px;
	text-align: center;
	position: relative;
	left: 160px;
	top: 133px;
	background: transparent url(../images/201401/gettheapp_back.png) 1px 21px no-repeat;
}

#gettheapp_slogan {
	color: #416466;
	font-size: 22px;
	font-family: GothamroundedBold, Roboto, Verdana, Geneva, sans-serif;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
	line-height: 40px;
}

#gettheapp_call2action {
	color: #fff;
	font-size: 40px;
	font-weight: normal;
	line-height: 76px;
}

#gettheapp_button_mac {
	background: transparent url(../images/201401/gettheapp_button_mac_back.png) top left no-repeat;
}

#gettheapp_button_android {
	background: transparent url(../images/201401/gettheapp_button_android_back.png) top left no-repeat;
}
.gettheapp_button {
	width: 182px;
	height: 55px;
	display: inline-block;
	margin: 35px 2px 0;
}

#video_btn {
	position: absolute;
	top: 188px;
	left: 782px;
	width: 88px;
	height: 88px;
	background: transparent url(../images/201401/video_btn_back.png) top left no-repeat;
}
#video_btn:hover {
	background-position: left -88px;
}

#models_wrap {
	background: #f5f5f5 url(../images/201401/models_wrap_back.png) top center repeat-x;
}

#models_header {
	padding: 30px 0 42px;
}

#models_content{
	height: 324px;
	overflow: hidden;
	width: 999px !important;
	padding: 0 0 68px;
}

#models {
	width: 2500px;
}

.model {
	width: 242px;
	height: 320px;
	text-align: center;
	float: left;
	background: url(../images/201401/model_back.png) right top no-repeat;
}

.model_icon, .model_icon_popup {
	height: 92px;
	width:57px;
	background: url(../images/201401/model_icon_back.png) center top no-repeat;
	margin:0 auto;
}

.model:hover .model_icon, a:hover .model_icon_popup {
	background: url(../images/201401/model_icon_back.png) center -96px no-repeat;
}

.model_title, .model_title_popup {
	color: #515151;
	font-weight: normal;
	font-size: 19px;
	text-align:center;
}

.model_text, .model_text_popup {
	color: #787878;
	font-size: 15px;
	padding: 17px 25px;
	line-height: 18px;
	text-align: justify;
}

.model:hover .model_title, 
.model:hover .model_text,
.readmore {
	color: #068b95;
}
.readmore {
	font-style: italic;
}

.model_link {
	color: #068b95;
	font-size: 17px;
	text-align:center;
}


#models_popup {
    background: #f5f5f5;
    width: 700px;
    height: 500px;
}
.model_icon_popup {
    padding: 4px 4px 0 4px;
    margin: 6px 1px 0;
    width: 57px;
	height: 71px;
}
#icon_0 {
	padding-left: 15px;
}
.model_content_popup {
	position: absolute;
	width: 700px;
	height: 327px;
	top: 112px;
	left: 0px;
	display: none;
}
#models_popup_links {
	background: #e6e6e6 url(../images/201401/home_tutorials_wrapper_back.png) bottom center repeat-x;
	height: 112px;
    width: 100%;
}
#model_popup_foot_link {
    position: absolute;
    bottom: 0px;
	height: 61px;
    width: 100%;
    text-align:  center;
}
.model_icon_title_popup {
	color: #787878;
	font-size: 11px;
	text-align: center;
	width: 67px;
	height: 26px;
	margin-top: -1px;
	line-height: 14px;
}

a.on {
	cursor: default;
}
a.on .model_icon_popup {
	background: url(../images/201401/model_icon_back.png) center -192px no-repeat;
}
a.on .model_icon_title_popup {
    _color: #fff;
}

.model_icon2_popup {
	background: url(../images/201401/model_icon2_back.png) no-repeat 0 0;
	float: left;
	height: 260px;
	width: 80px;
	padding: 0 11px;
	margin-left: 13px;
	margin-top: 62px;
}
.model_title_popup {
    margin-top: 78px;
}
.model_text_popup {
    font-size: 17px;
    line-height: 20px;
    color: #1d1d1d;
    padding-right: 44px;
}
.login-colum.max_width {
	padding: 13px 50px 0;
}

.login-colum.max_width .elem label {
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    width: 143px;
}
.login-colum.max_width .elem textarea,
.login-colum.max_width .elem input {
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #c7c7c7;
    color: #767676;
    padding: 5px 8px 6px;
    width: 294px;
    margin-bottom: 6px;
}
.login-colum.max_width .elem textarea {
    height: 129px;
    width: 434px;
    max-height: 129px;
    max-width: 434px;
    min-height: 129px;
    min-width: 434px;
    line-height: 21px;
    padding-top: 5px;
}
.login-colum.max_width .elem .message {
    vertical-align: top;
    padding-top: 4px;
}
.login-colum.max_width .elem  #btn-submit {
    color:  #fff;
    line-height: 32px;
    margin: 9px 3px;
    padding: 0 21px;
    background-color: #068b95;
    border-radius: 3px;
}

#fancybox-close {
	top: 15px !important;
	right: -34px !important;
	width: 34px !important;
	height: 33px !important;
	background: transparent url('../images/201401/close_popup.png') 0 0 no-repeat !important;
}
#fancybox-outer {
    background-color: rgba(0,0,0,0.2) !important;
}
#fancybox-content {
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
}


#gettheapp_button_small_mac {
	background: transparent url(../images/201401/gettheapp_button_small_mac_back.png) top left no-repeat;
}
#gettheapp_button_small_android {
	background: transparent url(../images/201401/gettheapp_button_small_android_back.png) top left no-repeat;
}
.gettheapp_button_small {
	width: 135px;
	height: 40px;
	display: inline-block;
	margin: 11px 4px 0;
}


html, body {
	height: 100%;
}
#wrapper {
	/*min-height: 100%;
	height: auto;
	margin: 0 auto -90px;*/
	_background: #e6e6e6;
	background: #f5f5f5;
}
#footer_wrap {
	height: 90px;
}
#home_tutorials_wrapper {
	padding-bottom: 90px;
}



.bx-wrapper .bx-controls-direction a {
	width: 44px !important;
	height: 44px !important;
	z-index: 99 !important;
}
.bx-controls.bx-has-controls-direction.row {
	margin-bottom: 234px;
	margin-top: -234px;
}
.bx-wrapper .bx-prev {
	left: 10px;
	background: url(../images/201401/models_controls.png) no-repeat 0 -44px !important;
}
.bx-wrapper .bx-next {
	right: 10px;
	background: url(../images/201401/models_controls.png) no-repeat -44px -44px !important;
}
.bx-wrapper .bx-prev:hover {
	background-position: 0 0 !important;
}
.bx-wrapper .bx-next:hover {
	background-position: -44px 0 !important;
}

/*--- hotspot ---*/

#wrapper.hotspot {
    background-color: #f5f5f5;
}
#hotspot_page {
    width: 950px;
    height: 570px;
    margin: 0 auto;
    background-color: #fff;
	text-align: left;
}
.hotspot #content {
    padding: 64px 0;
	margin: auto;
	text-align: center;
}
#hotspot_head_wrap {
    height: 58px;
    padding: 1px 0;
    text-align: center;
    border-bottom: solid 2px #a9a096;
	background: transparent url(../images/201401/hotspot_header_back.jpg) top center repeat-x;
}
#downloadtheapp {
    text-align: center;
	height: 200px;
}
#downloadtheapp_call2action {
    font-size: 20px;
    font-weight: bold;
    color: #068b95;
	padding-top: 34px;
}
#downloadtheapp .gettheapp_button {
    margin-top: 13px;
}
.hotspot .media {
    float: left;
}
#media_info {
    float: right;
	width: 320px;
	margin: 60px 30px 0 0;
	height: 510px;
}
.user_avatar {
	width: 80px;
	max-width: 80px;
	height: 80px;
	max-height: 80px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	background: transparent url(../images/201401/hotspot_avatar_back.png) 1px 1px no-repeat;
}
#who_when {
    float: right;
	min-height: 80px;
	width: 226px;
	max-width: 226px;
}
#who_when_pic {
	padding-bottom: 30px;
    border-bottom: solid 1px #b4b4b4;
}
#who {
    font-weight:  bold;
    font-size: 30px;
    color: #068b95;
    line-height: 36px;
    padding-top: 4px;
}
#when {
    font-weight: normal;
    font-size: 20px;
    color: #c7c7c7;
	background: transparent url(../images/201401/hotspot_clock_icon.png) 2px 0px no-repeat;
	margin-top: 10px;
	padding-left: 35px;
}
#title {
    font-weight: normal;
    font-size: 24px;
    color:  #595959;
    margin-top: 22px;
}
#like_comm_tags {
    position: absolute;
    bottom: 0px;
    text-align: center;
    border-top: solid 1px #b4b4b4;
    font-weight: normal;
    font-size: 18px;
    color: #969696;
    width: 100%;
    padding: 6px 0 9px;
}
.tag-position {
	width: 47px;
	height: 47px;
	background: url(../images/201401/tag_icon.png) top left no-repeat;
}

.share-btn {
    _position: fixed;
    position: absolute;
    left: 0;
    top: 50%;
    padding-left: 6px;
    _margin-top: -145px;
	margin-top: -224px;
}
.hotspot_share {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 12px;
}
#share_facebook {
	background: transparent url(../images/201401/share_facebook.png) 0 0 no-repeat;
}
#share_twitter {
	background: transparent url(../images/201401/share_twitter.png) 0 0 no-repeat;
}
#share_tumblr {
	background: transparent url(../images/201401/share_tumblr.png) 0 0 no-repeat;
}
#share_wordpress {
	background: transparent url(../images/201401/share_wordpress.png) 0 0 no-repeat;
}
#share_email {
	background: transparent url(../images/201401/share_email.png) 0 0 no-repeat;
}
#share_facebook:hover {
	background: transparent url(../images/201401/share_facebook.png) left -50px no-repeat;
}
#share_twitter:hover {
	background: transparent url(../images/201401/share_twitter.png) left -50px no-repeat;
}
#share_tumblr:hover {
	background: transparent url(../images/201401/share_tumblr.png) left -50px no-repeat;
}
#share_wordpress:hover {
	background: transparent url(../images/201401/share_wordpress.png) left -50px no-repeat;
}
#share_email:hover {
	background: transparent url(../images/201401/share_email.png) left -50px no-repeat;
}


.tagcash-tip .item {
	padding-top: 0px;
	width: 308px;
	height: 121px;
}
.tagcash-tip .item .item_info {
	width: 174px;
	height: 121px;
	font-family: Roboto, Verdana, Geneva, sans-serif;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	color: #1a1a1a;
	text-align: left;
}
.tagcash-tip .item .item_border_img {
	width: 118px;
	height: 118px;
	overflow: hidden;
	border: 1px solid #bfbfc1;
	background: #fff;
	padding: 0;
}
.tagcash-tip .item .item_border_img img {
	max-width: 118px;
	margin: 0;
}
.tagcash-tip .item .item_info  .item_store {
	color: #4d7779;
	height: 18px;
	overflow: hidden;
	text-shadow: 0px 1px 0px #fff;
	margin-top: -2px;
	margin-bottom: 2px;
}
.tagcash-tip .item .item_info .item_name {
	height: 36px;
	overflow: hidden;
	font-weight: normal;
	letter-spacing: -0.04em;
	text-shadow: 0px 1px 0px #fff;
	margin-bottom: 7px;
}
.tagcash-tip .item .item_info .item_price {
	font-size: 16px;
	color: #1a1a1a;
	text-shadow: 0px 1px 0px #fff;
	margin-bottom: 8px;
}
/*.tagcash-tip .item .item_info .item_btn_buy {
	margin-top: 0px;
}
.tagcash-tip .item .item_info .item_btn_buy a {
	display: block;
	width: 174px;
	height: 34px;
	background: transparent url(../images/201401/btn-hotspot-buy-background.png) left top no-repeat;
}
.tagcash-tip .item .item_info .item_btn_buy a:hover {
	background: transparent url(../images/201401/btn-hotspot-buy-background.png) left -34px no-repeat;
}
.tagcash-tip .item .item_info .item_btn_buy a:active {
	background: transparent url(../images/201401/btn-hotspot-buy-background.png) left -68px no-repeat;
}*/

.item_btn_buy {
	margin-top: 0px;
}
.item_btn_buy {
	display: block;
	width: 174px;
	height: 34px;
	background: transparent url(../images/201401/btn-hotspot-buy-background.png) left top no-repeat;
}
.item_btn_buy :hover {
	background: transparent url(../images/201401/btn-hotspot-buy-background.png) left -34px no-repeat;
}
.item_btn_buy :active {
	background: transparent url(../images/201401/btn-hotspot-buy-background.png) left -68px no-repeat;
}

.bubbletip td.bt-content,
.bubbletip td.bt-left,
.bubbletip td.bt-right,
.bubbletip td.bt-top,
.bubbletip td.bt-topleft,
.bubbletip td.bt-topright,
.bubbletip td.bt-bottomleft,
.bubbletip td.bt-bottomright,
.bubbletip table.bt-bottom th,
.bubbletip table.bt-bottom td div {
	background: none !important;
}
.bubbletip {
	background: transparent url(../images/201401/bubbletip_back.png) 11px 13px no-repeat;
}
.bubbletip .item_pag {
    position: absolute;
    left: -14px;
    top: 124px;
}
.tagcash-tip .item_pag ul li {
    background: url(../images/201401/item-hotspot-paginator.png) center center no-repeat;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #111;
}
.tagcash-tip .item_pag ul li.active {
    background: url(../images/201401/item-hotspot-paginator-active.png) center center no-repeat;
}

#bottom_afiliates_wrap {
	margin-bottom: -60px;
	background: transparent url(../images/201401/home_tutorials_header_back.png) top center repeat-x;
}

#bottom_afiliates {
	width: 952px;
}



/*--- dummy ghost ---*/
#hotspot_page { 
	_background: transparent url(../images/201401/_.png) 0 0  no-repeat;
}

/*--- end cici ---*/

/*.slides li{
	width:auto !important
}*/
.foot_p{
}
.main_box_new{
	width:100%;
	max-width:980px;
	margin:0 auto;
}
.ima{
	background:url(../images/201401/model_icon2_back.png) no-repeat;
	width:77px;
	height:57px;
	text-align:center;
	margin-top:15px;
}
.box_heading{
	color:#068B95;
	font-size:19px;
	margin-top:10px;
}

.box_para{
	margin-top:10px;
	margin-bottom:10px;
}

/*=================poupup video==================*/
 /* 
	author: istockphp.com
*/
#backgroundPopup { 
	z-index:1;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
#toPopup {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border:6px solid #c8c8c8;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
	font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top:10%;
    width:50%;
    z-index: 2;
	box-shadow:0px 0px 100px #000;
	-moz-box-shadow:0px 0px 100px #000;
	-o-box-shadow:0px 0px 100px #000;
	-webkit-box-shadow:0px 0px 100px #000;
	-ms-box-shadow:0px 0px 100px #000;
	-khtml-box-shadow:0px 0px 100px #000;
}
div.loader {
    background: url("../images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 55%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
div.close {
    background: url("../images/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background:#ff8300;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 12px;
    height: 16px;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #ff8300;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
	padding: 20px;
}
/*=================popup video end=================*/

/*====================view header===================*/
.view_header{
height: 58px;
padding: 1px 0;
text-align: center;
border-bottom: solid 2px #A9A096;
background: rgba(0, 0, 0, 0) url(../images/201401/hotspot_header_back.jpg) top center repeat-x;
}
.view_logo{
	text-align:center;
}
.pad_top{
	padding-top:64px;
}

.pro1{
	width:570px;
	float:left;
}
.pro1 img{
	width:100%;
}

.main_but{
	width:950px;
	text-align:center;
	margin:0 auto;
	padding-bottom:64px;
}
/*=====================view end=====================*/


.toltip_ima{
	width: 118px;
	height: 118px;
	overflow: hidden;
	border: 1px solid #BFBFC1;
	background: #FFF;
	float:left;
}
.toltip_ima img{
	width:100%;
}
.tol_im{
  	left: 48%;
    position: absolute;
    top: 135px;
}


.boxi_hov:hover .tp_box {
    display: block;
}

.toltip_head{
	color: #4D7779;
	height: 18px;
	text-shadow: 0px 1px 0px #FFF;
	margin-top: -2px;
	margin-bottom: 2px;
	overflow: hidden;
}
.toltip_para{
	height: 36px;
	overflow: hidden;
	font-weight: normal;
	letter-spacing: -0.04em;
	text-shadow: 0px 1px 0px #FFF;
	margin-bottom: 7px;
}


.item_store{
	color: #4D7779;
	height: 18px;
	margin-top: -2px;
	margin-bottom: 2px;
}
.item_name{
	height: 38px;
	overflow:hidden;
	font-weight: normal;
	text-shadow: 0px 1px 0px #FFF;
	margin-bottom: 7px;
	color:#1A1A1A;
}
.item_price{
	font-size: 16px;
	color: #1A1A1A;
	text-shadow: 0px 1px 0px #FFF;
	margin-bottom: 8px;
}

.item_info {
    float: left;
    margin-left: 10px;
    width: 50%;
}
.tp_box {
    background: none repeat scroll 0 0 hsla(0, 0%, 100%, 0.6);
    border: 1px solid hsl(0, 0%, 95%);
    box-shadow: 1px 4px 9px hsl(0, 0%, 60%);
    display: none;
    left: -135px;
    padding: 10px;
    position: absolute;
    top: -142px;
    width: 308px;
	z-index:99999;
}
.padd_box{
	padding-bottom:50px;
	display:block;
}

.tol_im2{
	left: 70%;
    position: absolute;
    top: 490px;
}
.tp_small{
	left:-200px !important;
}
.tool{
	display:none;
}

.pro1:hover .tool {
    display: block;
}
.but_back{
	float:right;
}
.but_back a{
	background:#068B95;
	text-align:center;
	padding:8px 15px;
	color:#fff;
	text-decoration:none;
	border-radius:5px;
	font-weight:bold;
}
.span12{
padding-left: 60px;
padding-right: 60px;
width: 1020px;
margin: 0 auto;
	
}